<app-create-event-navbar></app-create-event-navbar>
<div class="container-fluid">
  <div class="row">

    <div class="col-lg-6">
      <div class="page-info">
        <div class="title">
          <h1>Let's publish your event. It's ready.</h1>
          <h5>Steps 5 <span class="of">of</span> 5</h5>
        </div>

        <div class="image">
          <i class="bi-cloud-upload" style="font-size: 10em;"></i>
        </div>

        <div class="description">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><i class="bi-lightbulb text-warning"></i> &nbsp; Did You Know ?</h6>
              <p class="card-text">Publishing your event right away is a good way to give attendees more time to properly adjust their calendar.</p>
              <a href="#" class="card-link">Learn more</a>
            </div>
          </div>
        </div>

        <div class="navigation">
          <div class="nav-buttons">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <button type="button" class="btn btn-lg btn-primary" (lick)="publish()">Publish</button>
          </div>
        </div>
      </div>
      <app-create-event-side-menu [currentPage]="'publishing'"></app-create-event-side-menu>
    </div>

    <div class="col-1 display-non-lg"></div>

    <div class="col-lg-5 col-md-7">
      <app-side-menu-toggle [eventTitle]="'A Chat With Rashida Jones'" [eventDate]="'Sat, May 8, 2021 7:00 PM'"></app-side-menu-toggle>

      <div class="form">
        <div class="divider mb-1 mt-5"></div>
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Preview Event</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Name your event and tell event-goers why they should come. Add details that highlight what makes it unique.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- title -->
            <div class="form-group">
              <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-6">
                    <img class="card-img" src="https://events369.com/storage/phpkJrbgx_2019-10-16%2016:30:56.jpg" alt="...">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">12 Rules Of Negotiation</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to additional content.
                      </p>
                      <p class="card-text" style="font-weight: bold">
                        <i class="bi-cash-stack"></i> $12.00 &nbsp; - &nbsp; <i class="bi-person"></i> 200
                      </p>
                      <p class="card-text"><small class="text-muted">20th May 2021 <i><b>to</b></i> 21st May 2021 </small></p>

                      <p class="card-text" style="font-size: 12px;">
                        By: Ralph Marvin Addo <br>
                        Phone: +233012345609 <br>
                        Email: the_man_of_git@gitdevs.org
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.title -->
          </div>
        </div>

        <div class="divider"></div>

        <!--
          Date Time Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Publish</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Tell event-goers when your event starts and ends so they can make plans to attend.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- start & end time -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Publish Now</option>
                      <option value="2">Publish later</option>
                    </select>
                    <label for="floatingSelect">Publish At</label>
                    <small id="titleHelp" class="form-text text-muted">
                      Publishing time is required.
                    </small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Public</option>
                      <option value="2">Private</option>
                    </select>
                    <label for="floatingSelect">Event Visibility</label>
                    <small id="titleHelp" class="form-text text-muted">
                      This is required.
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.end -->

            <!-- -->
            <div class="form-group">
              <div class="form-floating">
                <input class="form-control" id="floatingDesc" aria-describedby="descHelp" placeholder="Third Party URL">
                <label for="floatingDesc">Online Event URL</label>
                <small id="descHelp" class="form-text text-muted">
                  This is the link to your event via third party applications.
                </small>
              </div>
            </div>
            <!-- /.end -->
          </div>
        </div>
        <!--
          /. End Date time Section
        -->
        
        <div class="navigation">
          <div class="nav-buttons">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <button type="button" class="btn btn-lg btn-primary" (lick)="publish()">Publish</button>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-2 only-non-mobile"></div>

  </div>
</div>
