<app-create-event-navbar></app-create-event-navbar>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 col-lg-4">
      <app-create-event-side-menu [currentPage]="'publishing'"></app-create-event-side-menu>
      <app-side-menu-toggle [eventTitle]= eventTitle [eventDate]= eventDate></app-side-menu-toggle>
    </div>

    <!-- <div class="col-lg-6 col-md-3">
      <div class="page-info">
        <div class="title">
          <h1>Let's publish your event. It's ready.</h1>
          <h5>Steps 5 <span class="of">of</span> 5</h5>
        </div>

        <div class="image">
          <i class="bi-cloud-upload" style="font-size: 10em;"></i>
        </div>

        <div class="description">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><i class="bi-lightbulb text-warning"></i> &nbsp; Did You Know ?</h6>
              <p class="card-text">Publishing your event right away is a good way to give attendees more time to properly adjust their calendar.</p>
              <a href="#" class="card-link">Learn more</a>
            </div>
          </div>
        </div>

        <div class="navigation">
          <div class="nav-buttons">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <button type="button" class="btn btn-lg btn-primary" (lick)="publish()">Publish</button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-1 display-non-lg"></div>

    <div class="col-lg-5 col-md-8 col-sm-12">
      <div class="form">
        <div class="divider mb-1 mt-5"></div>
        
        <div class="form-item">
          <ng-container *ngIf="event.recurring === '1'">
            <div *ngIf="!event.hasScheduleData" class="alert alert-danger alert-dismissable">
              <p style="margin-bottom: 0rem !important;">Please create a schedule in the 2nd step
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>            
            </div>
  
            <div *ngIf="!event.hasMoreDetailsData" class="alert alert-danger alert-dismissable">
              <p style="margin-bottom: 0rem !important;">Please add event details in the 3rd step
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>            
            </div>
  
            <div *ngIf="!event.hasTicketingData" class="alert alert-danger alert-dismissable">
              <p style="margin-bottom: 0rem !important;">Please create a ticket(s) in the previous step
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>            
            </div>
  
          </ng-container>
          
          <ng-container *ngIf="event.recurring === '0'">
            <div *ngIf="!event.hasMoreDetailsData" class="alert alert-danger alert-dismissable">
              <p style="margin-bottom: 0rem !important;">Please add event details in the 2nd step
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>            
            </div>
  
            <div *ngIf="!event.hasTicketingData" class="alert alert-danger alert-dismissable">
              <p style="margin-bottom: 0rem !important;">Please create a ticket in the previous step
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </p>            
            </div>
  
          </ng-container>
          
          <div class="form-header">
            <div class="form-title">
              <h2>Preview Event</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Name your event and tell event-goers why they should come. Add details that highlight what makes it unique.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- title -->
            <div class="form-group">
              <div class="card mb-3">
                <img *ngIf="eventBanner != null" class="card-img-top banner-img" src="http://events369.logitall.biz/storage/banner/{{eventBanner}}" height="250" alt="banner">
                <img *ngIf="eventBanner == null" class="card-img-top banner-img" src="../../../../assets/images/placeholder.png" height="250" alt="banner">
                              
                <div class="card-body">
                      <h5 class="card-title">{{eventTitle}}</h5>
                      <ng-container *ngIf="getEventDateWithoutTime(eventStartDate) == getEventDateWithoutTime(eventEndDate)">
                        <p class="card-text"><small class="text-muted">{{getEventStartDateFormatted(eventStartDate)}} <b> to </b> {{getEventEndDateFormatted(eventEndDate)}}</small></p>
                      </ng-container>
                      <ng-container *ngIf="!(getEventDateWithoutTime(eventStartDate) == getEventDateWithoutTime(eventEndDate))">
                        <p class="card-text"><small class="text-muted">{{eventStartDate | date:'mediumDate'}}<i><b> to </b></i>{{eventEndDate | date:'mediumDate'}}</small></p>

                      </ng-container>
                      
                      <br>
                      <p class="card-text">
                        {{eventDescription}}
                      </p>
                      <p *ngFor="let ticket of eventTickets" class="card-text" style="font-weight: bold">
                        <small><i class="bi-cash-stack"></i> 
                          <ng-container *ngIf="ticket.price == 1"> Donations ({{ ticket.currency }})</ng-container>
                          <ng-container *ngIf="ticket.price !== 1"> {{ ticket.currency }} {{ ticket.price }}</ng-container>
                         
                          <!-- {{ticket.currency}}{{ticket.price}}  -->
                          &nbsp; - &nbsp; 
                          <i class="bi-person"></i> 
                          <ng-container *ngIf="ticket.max_quantity == 1"> Unlimited</ng-container>
                          <ng-container *ngIf="ticket.max_quantity !== 1">{{ticket.max_quantity}}</ng-container>
                        </small>
                      </p>
                      <p class="card-text" style="font-size: 12px;">
                        <span *ngIf="eventOrganizer !== null && eventOrganizer !== 'null'">By: {{eventOrganizer}}</span> <br>
                        <span *ngIf="eventContactPhone !== null && eventContactPhone !== 'null'">Phone No.: {{eventContactPhone}}</span><br *ngIf="eventContactPhone !== null && eventContactPhone !== 'null'">
                        <span *ngIf="eventContactPhone == null || eventContactPhone == 'null'">Phone No.: NA</span><br *ngIf="eventContactPhone == null || eventContactPhone == 'null'">
                        <span *ngIf="eventContactEmail !== null && eventContactEmail !== 'null'">Email: {{eventContactEmail}}</span>
                        <!-- <span *ngIf="eventOrganizer == null || eventOrganizer == 'null'">By: {{eventOrganizer}}</span> <br> -->
                        <span *ngIf="eventContactEmail == null || eventContactEmail == 'null'">Email: NA</span>
                      </p>
                    </div>
              </div>
            </div>
            <!-- /.title -->
          </div>
        </div>

        <div class="divider"></div>

        <!--
          RSVP
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>RSVP</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">What data do you want users to submit during registration?</p>
            </div>
          </div>
        </div>

        <div class="form-body mb-5">
          <table class="table">
            <thead>
              <tr>
                <th scope="col" style="width: 50%;">Field</th>
                <th scope="col" style="width: 25%;">Include</th>
                <th scope="col" style="width: 25%;">Require</th>
              </tr>
            </thead>
            <tbody class="rsvp-table">
              <tr>
                <td>Prefix</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includePrefix"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requirePrefix"></td>
              </tr>
              <tr>
                <td>First Name</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includeFirstName" [disabled]="true"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requireFirstName" [disabled]="true"></td>
              </tr>
              <tr>
                <td>Last Name</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includeLastName" [disabled]="true"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requireLastName" [disabled]="true"></td>
              </tr>
              <tr>
                <td>Gender</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includeGender"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requireGender"></td>
              </tr>
              <tr>
                <td>Email</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includeEmail" [disabled]="true"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requireEmail" [disabled]="true"></td>
              </tr>
              <tr>
                <td>Phone No.</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includePhone"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requirePhone"></td>
              </tr>
              <tr>
                <td>Address</td>
                <td><input class="form-check-input" type="checkbox" id="includePrefix" [(ngModel)]="includeAddress"></td>
                <td><input class="form-check-input" type="checkbox" id="requirePrefix" [(ngModel)]="requireAddress"></td>
              </tr>
            </tbody>
          </table>
        </div>

        

        <div class="divider"></div>

        <!--
          Date Time Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Publish</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Tell event-goers when your event starts and ends so they can make plans to attend.</p>
            </div>
          </div>

          <div class="row">
              <div class="col">
                  <span class="float-left ml-2">
                      <div class="form-check form-switch">
                          <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" [(ngModel)]="allowCancel">
                          <label class="form-check-label ml-2" for="flexSwitchCheckDefault"><b>Allow cancelation</b></label>
                      </div>
                  </span>
              </div>
          </div>

          <div *ngIf="allowCancel" class="row">          
              <div class="col">
                  <div class="mt-2 ml-2">
                      <label class="form-label" for="floatingFname" style="margin-bottom: 0;">Cancel Rule (Hours)</label>
                      <input type="text" class="form-control form-element" id="floatingInput" style="height: 42px;" [(ngModel)]="cancelRules">
                      <small class="text-muted" style="margin-left: 0rem;">Specify the number of hours to the event after which RSVP cannot be cancelled.</small>
                  </div>
              </div>
          </div>

          <!-- <div class="form-body">
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Publish Now</option>
                      <option value="2">Publish later</option>
                    </select>
                    <label for="floatingSelect">Publish At</label>
                    <small id="titleHelp" class="form-text text-muted">
                      Publishing time is required.
                    </small>
                  </div>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example">
                      <option selected>Public</option>
                      <option value="2">Private</option>
                    </select>
                    <label for="floatingSelect">Event Visibility</label>
                    <small id="titleHelp" class="form-text text-muted">
                      This is required.
                    </small>
                  </div>
                </div>
              </div>
            </div>            
          </div> -->
        </div>
        <!--
          /. End Date time Section
        -->

        <div *ngIf="publishErrors.length != 0" class="alert alert-danger">
            <p style="margin-bottom: 0rem !important;">{{publishErrors}}</p>
        </div>
      
        <div class="navigation">
          <div class="nav-buttons">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <!-- <button type="button" class="btn btn-lg btn-primary" (click)="publish()">Publish</button> -->
            <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="createRsvpForm()">Publish</button>
            <app-loading-button *ngIf="isLoading"></app-loading-button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 only-non-mobile"></div>

  </div>
</div>
