<div class="container">
   <div class="row intro-item">
      <div class="col-lg-6">
         <div class="intro-left-content">
            <h2 class="column-title">
               <span>Event Intro</span>
               Why you should join this event
            </h2>
            <p>
               How you transform your business as tech, consumer, habits industry dynamic change, Find
               out from those leading the charge.
               How you transform your business as tech, consumer, habits industry dynamic change, Find
               out from those leading the charge.
            </p>
            <a href="index.html#" class="btn btn-primary ">Buy Ticket</a>
         </div>
      </div>      
   </div>
</div>
