<div class="bg-light pt-5 pb-5 ev-martop-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-3 col-lg-3"></div>
      <div class="col-sm-6 col-md-3 col-lg-3">
        <div class="row">
          <div class="header">
            <h5 class="display-7">Events369</h5>
          </div>
          <ul class="list-unstyled">
            <li><a href="">All Events FAQ</a></li>
            <li><a href="">Events Host FAQ</a></li>
            <li><a href="">Other FAQ</a></li>
            <li><a href="">Getting started</a></li>
            <li><a href="">Download Events Client</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6 col-md-3 col-lg-">
        <div class="row">
          <div class="header">
            <h5 class="display-7">About</h5>
          </div>
          <ul class="list-unstyled">
            <li><a href="">Events369 Blog</a></li>
            <li><a href="">Our Team</a></li>
            <li><a href="">Why Events369?</a></li>
            <li><a href="">Resources</a></li>
            <li><a href="">Press</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-3 col-lg-">
        <div class="row">
          <div class="header">
            <h5 class="display-7">Support</h5>
          </div>
          <ul class="list-unstyled">
            <li><a href="">Support Center</a></li>
            <li><a href="">Feedback</a></li>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Accessibility</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col-3"></div>
      <div class="col-sm-12 col-md-8 col-lg-8 center-sm">
        <ul class="list-inline">
          <li class="list-inline-item mr-5">
            <a href=""><i class="bi-facebook"></i></a>
          </li>
          <li class="list-inline-item mr-5">
            <a href=""><i class="bi-linkedin"></i></a>
          </li>
          <li class="list-inline-item mr-5">
            <a href=""><i class="bi-instagram"></i></a>
          </li>
          <li class="list-inline-item mr-5">
            <a href=""><i class="bi-slack"></i></a>
          </li>
        </ul>
      </div>
      <div class="col-1"></div>
    </div>

    <div class="row mt-5">
      <div class="col-3"></div>
      <div class="col-sm-12 col-md-8 col-lg-8">
        <p class="lead">
          Copyright &copy; 2021 Events369.com.
          <br>
          All rights reserved.
        </p>

        <div class="links">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a href="">Events369 Privacy Policy</a>
            </li>
            <li class="list-inline-item">
              <a href="">Events369 Terms of Use</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-1"></div>
    </div>
  </div>

</div>
