<nav class="navbar navbar-expand-lg navbar-light bg-light ev-navbar sticky-top">
  <a id="brand-name" class="navbar-brand mr-5" routerLink="/home"><b class="ev-brandname-orange"> events</b> <b class="ev-brandname-darkblue">369</b></a>
  
  <form class="form" class="search-form">
    <div class="form-group has-search" style="margin-bottom: 0rem !important;">
      <span class="bi bi-search form-control-feedback"></span>
      <input class="form-control mr-sm-2 ev-nav-searchbar-input" type="search" placeholder="What do you want to attend?" aria-label="Search">
    </div>
   </form>

   

   <!-- <button type="button" class="btn btn-light"> -->
    <span (click)="showSearchBar()" id="searchIcon" class="bi bi-search form-control-feedback navbar-standalone-search-icon nav-link"></span> 
   <!-- </button> -->

  <button id="toggle-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form search-form-for-sm search-on-mobile-only">
    <div class="form-group has-search" style="margin-bottom: 0rem !important;">
      <span class="bi bi-search form-control-feedback"></span>
      <input class="form-control mr-sm-2 ev-nav-searchbar-input" type="search" placeholder="What do you want to attend?" aria-label="Search">
    </div>
   </form>
   <span class="cancel-btn search-on-mobile-only" (click)="hideMobileSearch()">Cancel</span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto ml-5 ev-navbar-dropdown-content ev-nav-list">
      <li class="nav-item">
        <a class="nav-link" target="_blank" href="https://about.gitlab.com/get-help/">Help</a>
      </li>
      <ng-container *ngIf="!userAuthenticated">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li>
      </ng-container>
      <ng-container *ngIf="userAuthenticated">
        <li class="nav-item">
          <a class="nav-link" style="color: var(--blue);" routerLink="/create_event/basic_info">Host an event <span class="sr-only">(current)</span></a>
        </li>
        
        <div class="dropdown_user" style="height: 100% !important;padding: 3% 0;">
          <div class="dropbtn_user" style="display: grid;height: 100%;">
                 <span style="display: flex;border: 1px solid #d7d7d7;padding: 3px 10px;border-radius: 30px;">
                  <ev-avatar style="margin-top: 0vh;margin-bottom: 0;height: 4vh;width: 4vh;">
                      <img style="border: 2px solid var(--ion-color-step-100);" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fuser%20avatars%2Fprofile.webp?alt=media&token=e2096749-9938-46d6-a25a-bd32fd783d0a" />
                  </ev-avatar> 
                  <i class="bi bi-chevron-down" style="margin: 10%;"></i>
                   <!-- <ion-icon style="margin-top: 1vh;margin-left: 1vh;" name="chevron-down-outline"></ion-icon> -->
                 </span>
          </div>
          
          <div class="dropdown-content_user"> 
              <!-- <a href="#" id="browse_events_link">Browse Events</a> -->
               <a href="#" id="browse_events_link"><b>Notifications <span class="dot"></span> </b> </a>
              <a href="#"> <b> Favorites</b></a>
              <a href="#"> <b> Following</b></a>
              <a href="#" style="border-top: 1px solid #ddd;">Manage event</a>
              <a href="#">Tickets (0)</a> 

              <!-- not working  -->
              <!-- <a href="#">Credits</a> -->
              <!-- <a href="#">Collections</a> -->
              <!-- <a href="#">Interests</a> -->
              
              
              <!-- <a href="#">Messages</a> -->
              <!-- <a href="#">Events</a> -->
              <!-- <a href="#">Saved</a> -->
              <!-- end of not working  -->

               <a href="#">Host an event</a>
              <a routerLink="/account/user" style="border-top: 1px solid #ddd;">Account</a>
              
              <a href="#">Help</a>
              <a href="#" id="logout_link">Log out</a>
            </div>
      </div>
      </ng-container>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: var(--primary-color) !important;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>

</nav>
