<nav [class.ev-navbar] = "userAuthenticated === false" [class.ev-navbar-authenticated] = "userAuthenticated === true" class="navbar navbar-expand-lg navbar-light bg-light sticky-top" style="position: sticky;">
  <a id="brand-name" class="navbar-brand mr-5" routerLink="/"><b class="ev-brandname-orange"> events</b> <b [class.ev-brandname-darkblue]="userAuthenticated === false" [class.ev-brandname-white]="userAuthenticated === true">369</b></a>
  
  <form [formGroup] = "formGroup" class="form search-form">
    <div class="form-group has-search" style="margin-bottom: 0rem !important;">
      <span class="bi bi-search position-top form-control-feedback"></span>
      <mat-form-field>

      <input formControlName="search" matInput [matAutocomplete] = "auto" [(ngModel)]="this.searchQuery" name="search_query" class="form-control mr-sm-2 ev-nav-searchbar-input" type="text" placeholder="What do you want to attend?" aria-label="Search" (keydown.enter)="doSearch()">
      
      <mat-autocomplete #auto = "matAutocomplete">
         <mat-option *ngFor ="let item of live_search_results" [value]="item.title">
          <!-- <ul class="w3-ul w3-card-4">
            <li class="w3-bar">
                <img src="http://events369.logitall.biz/storage/banner/{{item.banner_image}}" class="bg w3-bar-item w3-circle w3-hide-small" style="width:50px">
                <div class="w3-bar-item">
                  <span class="w3-large">{{item.title}}</span><br>
                  <span>{{ getEventDateFormatted(item.start_date_time)}}</span>
                </div>
              </li>
            </ul> -->
            <table (click)="gotoPreview(item.id)">
              <tbody>
                <tr>
                  <td>
                    <div class="img-fit-img-fix-background-cover" style="background-image: url(&quot;http://events369.logitall.biz/storage/banner/{{item.banner_image}}&quot;);width: 70px;height: 67px;">

                    </div>
                   
                  </td>
                  <td style="padding-left: 5%;">
                    <span class="w3-large">{{item.title}}</span>
                    <span class="present_date">{{ getEventDateFormatted(item.start_date_time)}}</span>
                    <span class="search_price">{{item.price}}</span>
                    
                  </td>
                </tr>
              </tbody>
            </table>
         </mat-option>
       </mat-autocomplete>

      </mat-form-field>
    </div>
  </form>

   

   <!-- <button type="button" class="btn btn-light"> -->
    <span (click)="showSearchBar()" id="searchIcon" class="bi bi-search form-control-feedback navbar-standalone-search-icon nav-link"></span> 
   <!-- </button> -->

  <button id="toggle-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <form [formGroup] = "formGroup" class="form search-form-for-sm search-on-mobile-only">
    <div class="form-group has-search" style="margin-bottom: 0rem !important;">
      <span class="bi bi-search form-control-feedback"></span>

      <mat-form-field>
      <input formControlName="search" matInput [matAutocomplete] = "auto" class="form-control mr-sm-2 ev-nav-searchbar-input" [(ngModel)]="this.searchQuery" type="search" placeholder="What do you want to attend?" (keydown.enter)="doSearch()" autofocus="true" aria-label="Search">
    
      
      <mat-autocomplete #auto = "matAutocomplete">
        <mat-option *ngFor ="let item of live_search_results" [value]="item.title">
          <table (click)="gotoPreview(item.id)">
            <tbody>
              <tr>
                <td>
                  <div class="img-fit-img-fix-background-cover" style="background-image: url(&quot;http://events369.logitall.biz/storage/banner/{{item.banner_image}}&quot;);width: 70px;height: 67px;">

                  </div>
                 
                </td>
                <td style="padding-left: 5%;">
                  <span class="w3-large">{{item.title}}</span>
                  <span class="present_date">{{ getEventDateFormatted(item.start_date_time)}}</span>
                  <span class="search_price">{{item.price}}</span>
                  
                </td>
              </tr>
            </tbody>
          </table>
       </mat-option>
     </mat-autocomplete>

    </mat-form-field>
    </div>
  </form>
  
  <span class="cancel-btn search-on-mobile-only" (click)="hideMobileSearch()">Cancel</span>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav mr-auto ml-5 ev-navbar-dropdown-content ev-nav-list">
      <li class="nav-item">
        <a [class.ev-color-white]="userAuthenticated === true" class="nav-link" target="_blank" routerLink="/help">Help</a>
      </li>
      <ng-container *ngIf="!userAuthenticated">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li>
      </ng-container>
      <ng-container *ngIf="userAuthenticated">
        <li class="nav-item">
          <a [class.ev-color-orange]="userAuthenticated === true" class="nav-link ev-color-blue"  href="/create_event/basic_info">Host an event <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item only-mobile">
          <a class="nav-link authenticated-link" routerLink="/account/profile">Account</a>
        </li>
        
        <div class="dropdown_user only-non-mobile" style="height: 100% !important;padding: 3% 0;">
          <div class="dropbtn_user" style="display: grid;height: 100%;">
                 <span [class.ev-border-authenticated] = "userAuthenticated === true" class="ev-avatar-border">
                  <div class="avatar-container">
                      <img *ngIf="imgSrc" style="width: inherit; height: inherit;" src="http://events369.logitall.biz/storage/profile/{{imgSrc}}" alt="{{currentUser.name}}'s photo">                              
                       <img *ngIf="!imgSrc" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fuser%20avatars%2Fprofile.webp?alt=media&token=e2096749-9938-46d6-a25a-bd32fd783d0a" />
                  </div> 
                  <i class="bi bi-chevron-down" style="margin: 10%;color: #9f9f9f;"></i>
                   <!-- <ion-icon style="margin-top: 1vh;margin-left: 1vh;" name="chevron-down-outline"></ion-icon> -->
                 </span>
          </div>
          
          <div class="dropdown-content_user"> 
              <!-- <a href="#" id="browse_events_link">Browse Events</a> -->
               <a href="#" id="browse_events_link"><b>Notifications <span class="dot"></span> </b> </a>
              <a href="#"> <b> Favorites</b></a>
              <a href="#"> <b> Following</b></a>
              <a (click)="openManageEventsPage()" style="border-top: 1px solid #ddd;">Manage event</a>
              <a href="#">Tickets (0)</a> 

              <!-- not working  -->
              <!-- <a href="#">Credits</a> -->
              <!-- <a href="#">Collections</a> -->
              <!-- <a href="#">Interests</a> -->
              
              
              <!-- <a href="#">Messages</a> -->
              <!-- <a href="#">Events</a> -->
              <!-- <a href="#">Saved</a> -->
              <!-- end of not working  -->

               <a href="/create_event/basic_info">Host an event</a>
              <a href="/account/profile" style="border-top: 1px solid #ddd;">Account</a>
              <!-- href="https://about.gitlab.com/get-help/" -->
              <a  target="_blank" routerLink="/help">Help</a>
              <a (click)="logout($event)" id="logout_link">Log out</a>
            </div>
      </div>
      </ng-container>
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" style="color: var(--primary-color) !important;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Help
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
    </ul>
  </div>

</nav>
