<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="offset-lg-3 col-lg-6 mx-auto">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6 stuffs-side">
              
              <!-- comopnent -->

              <app-form-side-pane 
                [primaryText]="'Welcome back,'"
                [secondaryText]="'One account for all of our amazing products.'">
              </app-form-side-pane>

            </div>

            <div class="col-lg-6 form-side">
              
              <!-- component -->

              <app-form-header [formTitle]="'Log in'"></app-form-header>

              <!-- lofin form -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">                

                <div class="row text-center">
                  <div class="col">
                    <small class="text-danger">{{errorMsgs.message}}</small>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="email" required>
                      <label for="floatingInput">Email Address</label>
                    </div>
                    <small><span *ngFor="let x of errorMsgs?.errors?.email" class="text-danger">{{x}}</span></small>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input type="password" class="form-control" id="floatingInput" placeholder="password" formControlName="password" required>
                      <label for="floatingInput">Password</label>
                    </div>
                    <small><span *ngFor="let x of errorMsgs?.errors?.password" class="text-danger">{{x}}</span></small>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-lg-12">
                    <!-- <span class="float-left">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
                      </div>
                    </span> -->
                    <span class="text-center">
                      <a routerLink="/recovery_email" class="form-link"><small>Forgot my password</small></a>
                    </span>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <button class="float-right btn btn-lg git-color">
                      <span *ngIf="isSending" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                      Log in
                    </button>
                  </div>
                </div>

                <div class="row text-center mt-2 mb-5">
                  <div class="col-lg-12">
                    <p>
                      <small><a routerLink="/register" class="form-link">Don't have an account? Register</a></small>
                    </p>
                  </div>
                </div>

              </form>
              <!-- /.login form -->

              <!-- component -->

              <app-form-footer></app-form-footer>
              
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>