<section>
  <div class="contents" style="padding-top: 70vh;">

    <div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="col-lg-5 mx-auto my-auto form-card">

      <div class="card p-5" style="margin-top: 20%;margin-bottom: 20%;margin-left: 3%;margin-right: 3%;box-shadow: 0 15px 35px 0 rgba(60,66,87,.08),0 5px 15px 0 rgba(0,0,0,.12);">
        <div class="card-body">
          <div class="row">

            <div class="col">
              
              <!-- component -->

              <app-form-header 
                [formTitle]="'Log in'"
                [subText]="'Sign to enjoy our suite of products'">
              </app-form-header>

              <!-- lofin form -->
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">                

                <div class="row text-center">
                  <div class="col">
                    <small class="text-danger">{{errorMsgs.message}}</small>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input type="text" class="form-control form-element" id="floatingInput" style="height: 48px;" placeholder="name@example.com" formControlName="email" required>
                      <label for="floatingInput">Email Address</label>
                    </div>
                    <small><span *ngFor="let x of errorMsgs?.errors?.email" class="text-danger">{{x}}</span></small>
                  </div>
                </div>

                <div class="row">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input type="password" class="form-control form-element" id="floatingInput" style="height: 48px;" placeholder="miwer9423" formControlName="password" required>
                      <label for="floatingInput">Password</label>
                    </div>
                    <small><span *ngFor="let x of errorMsgs?.errors?.password" class="text-danger">{{x}}</span></small>
                  </div>
                </div>

                <div class="row my-4">
                  <div class="col-lg-12">
                    <span class="float-left">
                      <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
                      </div>
                    </span>
                    <span class="float-right">
                      <a routerLink="/recovery_email" class="form-link"><small>Forgot your password?</small></a>
                    </span>
                  </div>
                </div>

                <div class="row mt-4">
                  <div class="col">
                    <button class="float-right register-button btn btn-primary form-element form-btn">
                      <span *ngIf="isSending" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                      Log in
                    </button>
                  </div>
                </div>                

              </form>
              <!-- /.login form -->

              <span class="text-center mx-5">
                <p>
                  <div class="separator">or sign up with</div>
                <p></p>
              </span>

              <div class="row">
                <div class="col mb-2">
                  <button type="button" class="float-right socialite-buttons btn btn-lg border form-element form-btn">
                    <!-- <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                    <div class="socialite-icon-and-text" style="display: block ruby;">
                      <span class="ml-3">
                        <img class="rounded-circle social-logo" src="../../../../assets/images/social-media/099-google.png" alt="" width="25" height="25">
                      </span>
                      <span style="font-size: 18px;"> Google </span>
                     </div>
                  </button>
                </div>
              </div>

              <div class="row">
                <div class="col mb-1">
                  <button type="button" class="float-right socialite-buttons btn btn-lg border form-element form-btn">
                    <!-- <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> -->
                    <div class="socialite-icon-and-text" style="display: block ruby;">
                      <span class="ml-3">
                        <img class="rounded-circle social-logo" src="../../../../assets/images/social-media/036-facebook.png" alt="" width="25" height="25">
                      </span>
                       <span style="font-size: 18px;"> Facebook </span>
                      </div>
                  </button>
                </div>
              </div>


              <span class="mx-5 text-center"><p>Already have an account? <a href="#" style="text-decoration: none;" routerLink="/register">Sign up</a></p></span>

              
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>

</div>
</section>