<section>
  <div class="contents" [class.height]="showPrompt">

    <img id="image-bg" class="bg" src="../../../../assets/images/samantha-gades-fIHozNWfcvs-unsplash.webp"/>
  
    <div class="container-fluid h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-5 mx-auto my-auto form-card">

          <div class="card p-5" style="margin-top: 5%;margin-bottom: 5%;margin-left: 3%;margin-right: 3%;box-shadow: 0 15px 35px 0 rgba(60,66,87,.08),0 5px 15px 0 rgba(0,0,0,.12);">
            <div class="card-body" style="padding: 0;">
              <div class="row">
              
                <div class="col">
                  
                  <!-- component --> 

                  <app-form-header 
                    [formTitle]="'Create New Password'">
                  </app-form-header>
                  <div class="row mb-4">
                    <div class="col">
                        <p>Your new password must be different from the old one</p>
                    </div>
                  </div>

                  <!-- lofin form -->
                  <form *ngIf="!showPrompt" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
                          
                  <div *ngIf="errorMsgs.message" class="row text-center">
                    <div class="col alert alert-danger" style="margin-top: -1rem !important; margin-bottom: 2.5rem !important;">
                      <small class="text-danger">{{errorMsgs.message}}</small>
                    </div>
                  </div>
                    
                    <div class="row">
                      <div class="col">
                        <div class="mt-3" style="margin-top: -1rem !important;">
                          <label class="form-label" for="floatingFname" style="margin-bottom: 0;font-size: 0.8rem;margin-left: 5px !important;">Password</label>
                          <input type="password" class="form-control form-element" id="floatingFname" style="height: 42px;" formControlName="new_password" required>
                        </div>
                        <small style="margin-left: 0.3rem !important;"><span class="text-muted">Password must be more than 8 characters</span><br></small>
                        <small style="margin-left: 0.3rem !important;"><span *ngFor="let x of errorMsgs?.errors?.new_password" class="text-danger">{{x}}</span><br></small>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="mt-1">
                          <label class="form-label" for="floatingFname" style="margin-bottom: 0;font-size: 0.8rem;margin-left: 5px !important;">Confirm Password</label>
                          <input type="password" class="form-control form-element" id="floatingFname" style="height: 42px;" formControlName="new_password_confirmation" required>
                        </div>
                      </div>
                    <small style="margin-left: 0.3rem !important;" *ngIf="errorMsgs?.errors?.new_password_confirmation"><span *ngFor="let x of errorMsgs?.errors?.new_password_confirmation" class="text-danger">{{x}}</span><br></small>
                    </div>

                    <div class="row mt-5">
                      <div class="col mb-1">
                        <button type="submit" class="float-right register-button btn btn-primary form-element form-btn">
                          <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Submit
                        </button>
                      </div>
                    </div>

                  </form>
                  <!-- /.login form -->


                  <div *ngIf="showPrompt" class="row align-items-center">
                      <div class="col">
                          <!-- <div class="card my-5"> -->
                              <div class="alert alert-success text-center">
                                  <p class="p-3">You have successfully recovered your account</p>
                                  <a href="#" routerLink="/login" class="form-link">Login</a>
                              </div>
                          <!-- </div> -->
                      </div>
                  </div>
                              
                </div>

              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>