<section id="intro" class="ts-intro-item section-bg">
    <div class="container">
       <div class="row">
          <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
             <div class="intro-left-content">
                <h2 class="column-title">
                   <span>Why Join Exhibit</span>
                   Why you should
                   Join Event
                </h2>
                <p>
                   {{eventContent?.description}}
                </p>
                <a href="index.html#" class="btn">Buy Ticket</a>
             </div>
          </div><!-- col end-->
          
          <!-- <div class="col-lg-8">
             <div class="row">
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="400ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-speaker"></i>
                      <h3 class="ts-title">Great Speakers</h3>
                      <p>
                         How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">01</span>
                   </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-netwrorking"></i>
                      <h3 class="ts-title">New People</h3>
                      <p>
                         How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">02</span>
                   </div>

                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="600ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-people"></i>
                      <h3 class="ts-title">Networking</h3>
                      <p>
                         How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">03</span>
                   </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">
                   <div class="single-intro-text mb-30">
                      <i class="icon icon-fun"></i>
                      <h3 class="ts-title">Have Fun</h3>
                      <p>
                           How you transform your business as technology, consumer, habits industry dynamic
                      </p>
                      <span class="count-number">04</span>
                   </div>
                </div>
             </div>
          </div> -->

       </div><!-- row end-->
    </div><!-- container end-->
 </section>