<app-navbar></app-navbar>

<app-preview-header
    (introEvent)="gotoIntro()"
    (scheduleEvent)="gotoSchedule()"
    (speakersEvent)="gotoSpeakers()"
    (pricingEvent)="gotoPricing()"
    (organizersEvent)="gotoOrganizers()"
    (sponsorsEvent)="gotoSponsors()"
    (galleryEvent)="gotoGallery()"
    [intro]="eventDisplay"
    [speakers]="speakersDisplay"
    [schedule]="scheduleDisplay"
    [pricing]="pricingDisplay"
    [organizers]="organisersDisplay"
    [sponsors]="sponsorsDisplay"
    [gallery]="galleryDisplay"
    [direction]="dataContent?.hosting == 'Physical' ? true:false">
</app-preview-header>

<app-preview-banner 
    [eventContent]="this.eventContent"    
></app-preview-banner>

<app-preview-details id="intro" 
    [eventContent]="this.eventContent"
    [hostingContent]="this.hostingContent">
</app-preview-details>

<!-- <app-preview-schedule id="schedule"
    *ngIf="scheduleDisplay == true">
</app-preview-schedule> -->

<app-preview-speakers id="speakers"
    *ngIf="speakersDisplay == true"
    [speakers]="speakersContent">
</app-preview-speakers>

<app-preview-pricing id="pricing"
    *ngIf="pricingDisplay == true"
    [pricing]="pricingContent">
</app-preview-pricing>

<app-preview-organizers id="organizers"
    *ngIf="organisersDisplay == true"
    [organizers]="organisersContent">
</app-preview-organizers>

<app-preview-sponsors id="sponsors"
    *ngIf="sponsorsDisplay == true"
    [sponsors]="sponsorsContent">
</app-preview-sponsors>

<app-preview-gallery id="gallery"
    *ngIf="galleryDisplay == true"
    [images]="galleryContent">
</app-preview-gallery>

<!-- <app-preview-location
    *ngIf="eventContent?.hosting == 'Physical'"
    [venue]="eventContent.venue"
    [contactPhone]="eventContent.contact_phone"
    [contactEmail]="eventContent.contact_email">
</app-preview-location>location -->

<app-footer></app-footer>