<div class="footer-area">

  <!-- ts-book-seat start-->
  <section class="ts-book-seat" style="background-image: url('../../assets/images/book_seat_img.jpg')">
     <div class="container">
        <div class="row">
           <div class="col-lg-8 mx-auto">
              <div class="book-seat-content text-center mb-100">
                 <h2 class="section-title white">
                    <span>Hurry up!</span>
                    Book your Seat
                 </h2>
                 <a href="index.html#" class="btn">Buy Ticket</a>
              </div><!-- book seat end-->
           </div><!-- col end-->

        </div><!-- row end-->
        <div class="ts-footer-newsletter">
           <div class="ts-newsletter" style="background-image: url('../../assets/images/shap/subscribe_pattern.png')">
              <div class="row">
                 <div class="col-lg-6 mx-auto">
                    <div class="ts-newsletter-content">
                       <h2 class="section-title">
                          <span>sUBSCRIBE TO nEWSLETTER</span>
                          Want something extra?
                       </h2>
                    </div>
                    <div class="newsletter-form">
                       <form action="#" method="post" class="media align-items-end">
                          <div class="email-form-group media-body">
                             <input type="email" name="email" id="newsletter-form-email" class="form-control"
                                placeholder="Your Email" autocomplete="off" required="">
                          </div>
                          <div class="d-flex ts-submit-btn">
                             <button class="btn">Subscribe</button>
                          </div>
                       </form>
                    </div>
                 </div>
              </div>
           </div>
        </div>
     </div><!-- container end-->
  </section>
  <!-- book seat  end-->

  <!-- footer start-->
  <footer class="ts-footer">
     <div class="container">
        <div class="row">
           <div class="col-lg-8 mx-auto">
              <div class="ts-footer-social text-center mb-30">
                 <ul>
                    <li>
                       <a href="index.html#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                       <a href="index.html#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                       <a href="index.html#"><i class="fa fa-google-plus"></i></a>
                    </li>
                    <li>
                       <a href="index.html#"><i class="fa fa-linkedin"></i></a>
                    </li>
                    <li>
                       <a href="index.html#"><i class="fa fa-instagram"></i></a>
                    </li>
                 </ul>
              </div>
              <!-- footer social end-->
              <div class="footer-menu text-center mb-25">
                 <ul>
                    <li><a href="index.html#">About Eventime</a></li>
                    <li><a href="index.html#">Blog</a></li>
                    <li><a href="index.html#">Contact</a></li>
                    <li><a href="index.html#">Tickets</a></li>
                    <li><a href="index.html#">Venue</a></li>
                 </ul>
              </div><!-- footer menu end-->
              <div class="copyright-text text-center">
                 <p>Copyright © 2018 Exhibz. All Rights Reserved.</p>
              </div>
           </div>
        </div>
     </div>
  </footer>
  <!-- footer end-->
  <div class="BackTo">
     <a href="index.html#" class="fa fa-angle-up" aria-hidden="true"></a>
  </div>

</div>