<app-create-event-navbar></app-create-event-navbar>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 col-lg-4">
      <app-create-event-side-menu [currentPage]="'details'"></app-create-event-side-menu>
      <app-side-menu-toggle [eventTitle]= eventTitle [eventDate]= eventDate></app-side-menu-toggle>
    </div>

    <!-- <div class="col-3 only-non-mobile">
      <div class="page-info">
        <div class="title">
          <h1>Let's get a bit more information.</h1>
          <h5>Steps 3 <span class="of">of</span> 5</h5>
        </div>

        <div class="image">
          <i class="bi-clipboard-check" style="font-size: 7em;"></i>
        </div>

        <div class="description">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><i class="bi-lightbulb-off text-warning"></i> &nbsp; Did You Know ?</h6>
              <p class="card-text">Its much easier for people to pay more attention to your event when its hosted online, because its easy to find and share.</p>
              <a href="#" class="card-link">Learn more</a>
            </div>
          </div>
        </div>

        <div class="navigation">
          <div class="nav-buttons">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="save()">Save & Continue</button>
            <app-loading-button *ngIf="isLoading"></app-loading-button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-1 only-non-mobile"></div>

    <!-- <div class="col-3 only-xx-non-mobile">
      <div class="page-info">
        <div class="title">
          <h1>Let's get a bit more information.</h1>
          <h5>Steps 3 <span class="of">of</span> 5</h5>
        </div>

        <div class="image">
          <i class="bi-clipboard-check" style="font-size: 10em;"></i>
        </div>

        <div class="description">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><i class="bi-lightbulb-off text-warning"></i> &nbsp; Did You Know ?</h6>
              <p class="card-text">Its much easier for people to pay more attention to your event when its hosted online, because its easy to find and share.</p>
              <a href="#" class="card-link">Learn more</a>
            </div>
          </div>
        </div>

        <div class="navigation">
          <div class="nav-buttons">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="create()">Save & Continue</button>
            <app-loading-button *ngIf="isLoading"></app-loading-button>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-8 col-lg-5 col-sm-12">
      <!-- As a link -->
      <form class="form" [formGroup]="form" (ngSubmit)="edit()">
        <div class="divider mb-1 mt-5"></div>
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Event Image</h2>
            </div>
            <div class="form-description">
              <p class="lead">This is the first image attendees will see at the top of your listing. Use a high quality image: 2160x1080px (2:1 ratio).</p>
            </div>
          </div>

          <div class="form-body">
            <!-- image -->
            <div class="form-group">
              <input type="file" class="file-input" formControlName="banner_image" (change)="onFileSelected($event)" #fileUpload>
              <div class="card">
                <div (click)="fileUpload.click()" class="card-image-upload text-center">
                  <div *ngIf="!isBannerSet" class="p-2">
                    <i class="bi bi-image" style="font-size: 4em; color: #ddd;"></i>
                    <div class="mt-3">
                      <h4 class="text-muted">Click to add event image</h4>
                      <p class="lead text-muted">JPG, JPEG or PNG, no larger than 10MB</p>
                    </div>
                  </div>
                  <div *ngIf="isBannerSet">
                    <img class="card-img-bottom banner-img" [src]="imgSrc" width="400" height="250">
                  </div>
                </div>
              </div>
              <!-- <small id="descHelp" class="form-text text-muted">
                JPG, JPEG or PNG, no larger than 10MB.
              </small> -->
            </div>
            <!-- /.image -->
          </div>
        </div>

        <div class="divider"></div>

        <!--
          Contact Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Contact Info</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">This is optional, skip if you dont want to make your contact info public. Attendees of the event will see the contact info you provide.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- contact info -->
            <!-- organizer -->
            <div class="form-group">
              <div class="form-floating">
                <input class="form-control" id="floatingDesc"  aria-describedby="descHelp" placeholder="Main Event Organizer" required
                  formControlName="organizer" [ngClass]="{'is-invalid': saved && f.organizer.errors, 'is-valid': !f.organizer.errors}">
                <label for="floatingDesc">Organizer Full name</label>
                <small *ngIf="saved && f.organizer.errors" id="titleHelp" class="form-text invalid-feedback">
                  Organizer is required.
                </small>
              </div>
            </div>
            <!-- /.organizer-->

            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Event organizer's phone number"
                        formControlName="phone" [ngClass]="{'is-invalid': saved && f.phone.errors, 'is-valid': (f.phone.value!='' || f.phone.value!=null) && !f.phone.errors}">
                      <label for="floatingTitle">Phone Number</label>
                      <small *ngIf="saved && f.phone.errors" id="titleHelp" class="form-text invalid-feedback">
                        Must begin with country code
                      </small>
                    </div>
                  </div>
                </div>

                <div class="col">
                  <div class="form-floating">
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Event organizer's email address"
                        formControlName="email" [ngClass]="{'is-invalid': saved && f.email.errors, 'is-valid': (f.email.value!='' || f.email.value!=null) && !f.email.errors}">
                      <label for="floatingTitle">Email Address</label>
                      <small *ngIf="saved && f.email.errors" id="titleHelp" class="form-text invalid-feedback">
                        Must provide a valid email address
                      </small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.end info -->
          </div>
        </div>
        <!--
          /. End Contact Section
        -->

        <div class="divider"></div>

        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>External Hosting</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Ralph will add more detail texts here.</p>
            </div>
          </div>

          <div class="row ml-3 mb-3">
            <div class="col">
              <input type="checkbox" class="form-check-input" id="facebookCheckbox" formControlName="facebook_checkbox" (change)="setFacebookVisibility()">
              <label class="form-check-label" for="facebookCheckbox">Facebook</label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input" id="zoomCheckbox" formControlName="zoom_checkbox" (change)="setZoomVisibility()">
              <label class="form-check-label" for="zoomCheckbox">Zoom</label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input" id="youtubeCheckbox" formControlName="youtube_checkbox" (change)="setYoutubeVisibility()">
              <label class="form-check-label" for="youtubeCheckbox">Youtube</label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input" id="meetCheckbox" formControlName="meet_checkbox" (change)="setMeetVisibility()">
              <label class="form-check-label" for="meetCheckbox">Google Meet</label>
            </div>
            <div class="col">
              <input type="checkbox" class="form-check-input" id="teamsCheckbox" formControlName="teams_checkbox" (change)="setTeamsVisibility()">
              <label class="form-check-label" for="teamsCheckbox">Microsoft Teams</label>
            </div>
          </div>

          <div class="row" *ngIf="facebookVisibility==true">
            <div class="col">
              <div class="card mb-2">
                <div class="card-body">
                  <div class="form-floating">
                    <div class="form-floating input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-facebook"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="facebook_hosting"
                        [ngClass]="{'is-invalid': saved && f.facebook_hosting.errors, 'is-valid': f.facebook_hosting.value!='' && !f.facebook_hosting.errors}">
                      <label class="hosting-icon" for="floatingTitle">Facebook</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="zoomVisibility==true">
            <div class="col">
              <div class="card mb-2">
                <div class="card-body">
                  <div class="form-floating">
                    <div class="form-floating input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-camera-video-fill"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="zoom_hosting"
                        [ngClass]="{'is-invalid': saved && f.zoom_hosting.errors, 'is-valid': f.zoom_hosting.value!='' && !f.zoom_hosting.errors}">
                      <label class="hosting-icon" for="floatingTitle">Zoom web link</label>
                    </div>
                  </div>
                  <div class="form-floating">
                    <div class="form-floating input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-camera-video-fill"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="zoom_hosting_id">
                      <label class="hosting-icon" for="floatingTitle">Zoom ID</label>
                    </div>
                  </div>
                  <div class="form-floating">
                    <div class="form-floating input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-camera-video-fill"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="zoom_hosting_password">
                      <label class="hosting-icon" for="floatingTitle">Zoom Password</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>          
          </div>

          <div class="row" *ngIf="youtubeVisibility==true">
            <div class="col">
              <div class="card mb-2">
                <div class="card-body">
                  <div class="form-floating">
                    <div class="form-floating input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-youtube"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="youtube_hosting"
                        [ngClass]="{'is-invalid': saved && f.youtube_hosting.errors, 'is-valid': f.youtube_hosting.value!='' && !f.youtube_hosting.errors}">
                      <label class="hosting-icon" for="floatingTitle">Youtube</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="meetVisibility==true">
            <div class="col">
              <div class="card mb-2">
                <div class="card-body">
                  <div class="form-floating">
                    <div class="form-floating input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-google"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="meet_hosting"
                        [ngClass]="{'is-invalid': saved && f.meet_hosting.errors, 'is-valid': f.meet_hosting.value!='' && !f.meet_hosting.errors}">
                      <label class="hosting-icon" for="floatingTitle">Google Meet</label>
                    </div>
                  </div>
                  <div class="form-floating">
                    <div class="form-floating input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-google"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="meet_hosting_password">
                      <label class="hosting-icon" for="floatingTitle">Google Meet Password</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" *ngIf="teamsVisibility==true">
            <div class="col">
              <div class="card mb-2">
                <div class="card-body">
                  <div class="form-floating">
                    <div class="form-floating input-group mb-3">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="teams_hosting"
                        [ngClass]="{'is-invalid': saved && f.teams_hosting.errors, 'is-valid': f.teams_hosting.value!='' && !f.teams_hosting.errors}">
                      <label class="hosting-icon" for="floatingTitle">Microsoft Teams</label>
                    </div>
                  </div>
                  <div class="form-floating">
                    <div class="form-floating input-group">
                      <span class="input-group-text" id="basic-addon1"><i class="bi bi-people-fill"></i></span>
                      <input type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" formControlName="teams_hosting_password">
                      <label class="hosting-icon" for="floatingTitle">Microsoft Teams Password</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="col-sm-12 navigation">
          <div class="nav-buttons only-non-mobile">
            <button type="button" class="btn btn-lg btn-warning mr-3" (click)="previous()">Previous</button>
            <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="edit()">Save & Continue</button>
            <app-loading-button *ngIf="isLoading"></app-loading-button>
          </div>
          <div class="nav-buttons only-mobile">
            <button type="button" class="btn btn-md btn-warning mr-3" (click)="previous()">Previous</button>
            <button *ngIf="!isLoading" type="button" class="btn btn-md btn-primary" (click)="edit()">Save & Continue</button>
            <app-loading-button *ngIf="isLoading"></app-loading-button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-2 only-non-mobile"></div>

  </div>
</div>
