<div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-5 mx-auto my-auto form-card">
  
        <div class="card p-5">
          <div class="card-body">
            <div class="row">
              
              <div class="col">
  
                <!-- component -->
  
                <app-form-header 
                  [formTitle]="'Complete your regsitration'" 
                  [subText]="'Sign to enjoy our suite of products'">
                </app-form-header>

                <!-- signup form -->
                <form *ngIf="!showPrompt" [formGroup]="registerForm" (ngSubmit)="onSubmit()">                
  
                  <div class="row text-center">
                    <div class="col">
                      <small class="text-danger">{{errorMsgs.message}}</small>
                    </div>
                  </div>
              
                    <div class="row">
                        <div class="col">
                            <div class="form-floating mt-3">
                                <input type="text" class="form-control form-element" id="floatingFname" style="height: 48px;" placeholder="Fname" formControlName="firstname" required>
                                <label for="floatingFname">First Name</label>
                            </div>
                            <small><span *ngFor="let x of errorMsgs?.errors?.firstname" class="text-danger">{{x}}</span></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mt-3">
                                <input type="text" class="form-control form-element" id="floatingLname" style="height: 48px;" placeholder="Lname" formControlName="lastname" required>
                                <label for="floatingLname">Last Name</label>
                            </div>
                            <small><span *ngFor="let x of errorMsgs?.errors?.lastname" class="text-danger">{{x}}</span></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mt-3">
                                <input type="password" class="form-control form-element" id="floatingFname" style="height: 48px;" placeholder="Fname" formControlName="password" required>
                                <label for="floatingFname">Password</label>
                            </div>
                            <small><span *ngFor="let x of errorMsgs?.errors?.password" class="text-danger">{{x}}</span></small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-floating mt-3">
                                <input type="password" class="form-control form-element" id="floatingFname" style="height: 48px;" placeholder="Fname" formControlName="password_confirmation" required>
                                <label for="floatingFname">Confirm Password</label>
                            </div>
                            <small><span *ngFor="let x of errorMsgs?.errors?.password_confirmation" class="text-danger">{{x}}</span></small>
                        </div>
                    </div>

                    <div class="row mt-5">
                      <div class="col mb-1">
                        <button type="submit" class="float-right btn btn-primary form-element form-btn">
                          <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Register
                        </button>
                      </div>
                    </div>
  
                </form>
                <!-- /.signup form -->
  
                <div *ngIf="showPrompt" class="row align-items-center">
                    <div class="col">
                        <div class="card my-5">
                            <div class="card-header text-center">
                                <p class="p-3">You have successfully completed your registeration</p>
                                <button routerLink="/login" type="button" class="btn btn-lg git-color ml-2">Log in</button>
                            </div>
                        </div>
                    </div>
                </div>
                              
              </div>
  
            </div>
  
          </div>
        </div>
  
      </div>
    </div>
  </div>