.sponsors-div {
    padding: 100px;
}

.sponsors-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.sponsors-div .sponsors-logo img {
    margin: 0 38px 50px;
}

.section-title, .column-title {
    font-size: 36px;
    font-weight: 800;
    color: #3b1d82;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 85px;
    text-align: center;
}
.section-title:after, .column-title:after {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    right: 0;
    // background-image: url("../images/shap/title.png");
    background-repeat: no-repeat;
    background-size: center center;
    background-position: contain;
    width: 70px;
    height: 10px;
    margin: auto auto 0;
    top: auto;
    bottom: 0;
}
.section-title span, .column-title span {
    display: block;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 26px;
    color: #888888;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 10px;
    margin-top: -5px;
}

.section-title.white, .column-title.white {
    color: #fff;
}
.section-title.white:after, .column-title.white:after {
    // background-image: url("../images/shap/title-white.png");
}
.section-title.white span, .column-title.white span {
    color: #fff;
}

.sponsor-padding {
    padding-left: 30px;
    padding-right: 30px;
}
.sponsor-title {
    max-width: 750px;
    margin: 0 auto;
    display: block;
}
.sponsors-logo {
    margin: 60px 0;
    min-height: 125px;
    padding: 0 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-line-pack: center;
    align-content: center;
}
.sponsors-logo img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.sponsors-logo:hover img {
    -webkit-filter: none;
    filter: none;
}
.ts-sponsors.sponsors-border {
    padding: 0;
}
.ts-sponsors.sponsors-border .sponsors-wrap {
    border-bottom: 1px solid #2e2b72;
}

.sponsors-div .sponsors-logo img {
    margin: 0 38px 50px;
}

.btn {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: #ff007a;
    height: 50px;
    padding: 0 35px;
    line-height: 50px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    outline: none;
    text-decoration: none;
    cursor: pointer;
}