<div *ngIf="eventContent?.hosting=='0'">
  <div class="row intro-item">
     <div class="col p-5 my-auto">
        <table class="table table-borderless">
           <tbody>

             <tr *ngIf="hostingContent[0].link != ''">
               <td width="55"><img src="../../../../assets/images/social-media/036-facebook.png" alt="" width="40" height="40"></td>
               <td width="40" *ngIf="!facebookLinkCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[0].link}}" (click)="copyFacebookLink()"></i></td>
               <td width="40" *ngIf="facebookLinkCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
               <td>{{hostingContent[0].link}}</td>
             </tr>

             <tr *ngIf="hostingContent[1].link != ''">
              <td width="55"><img src="../../../../assets/images/social-media/001-zoom.png" alt="" width="40" height="40"></td>
              <td>
                 <tr>
                    <td width="40" *ngIf="!zoomLinkCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[1].link}}" (click)="copyZoomLink()"></i></td>
                    <td width="40" *ngIf="zoomLinkCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    <td>{{hostingContent[1].url}}</td>
                 </tr>
                 <tr>
                    <td width="40" *ngIf="!zoomIdCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[1].meeting_id}}" (click)="copyZoomId()"></i></td>
                    <td width="40" *ngIf="zoomIdCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    <td><b>Meeting ID: </b> {{hostingContent[1].meeting_id}}</td>
                 </tr>
                 <tr *ngIf="hostingContent.Zoom.password != ''">
                    <td width="40" *ngIf="!zoomPasswordCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[1].password}}" (click)="copyZoomPassword()"></i></td>
                    <td width="40" *ngIf="zoomPasswordCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    <b>Password: </b> {{hostingContent[1].password}}
                 </tr>
               </td>
             </tr>

             <tr *ngIf="hostingContent.Youtube != ''">
               <td width="55"><img src="../../../../assets/images/social-media/001-youtube.png" alt="" width="40" height="40"></td>
               <td width="40" *ngIf="!youtubeLinkCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[0].link}}" (click)="copyYoutubeLink()"></i></td>
               <td width="40" *ngIf="youtubeLinkCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
               <td>{{hostingContent[2].link}}</td>
             </tr>

            <tr *ngIf="hostingContent[3].link != ''">
              <td width="55"><img src="../../../../assets/images/social-media/hangouts-meet.png" alt="" width="40" height="40"></td>
              <td>
                 <tr>
                    <td width="40" *ngIf="!meetLinkCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[3].link}}" (click)="copyMeetLink()"></i></td>
                    <td width="40" *ngIf="meetLinkCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    <td>{{hostingContent[3].link}}</td>
                 </tr>
                 <tr>
                    <td width="40" *ngIf="!meetPasswordCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[3].password}}" (click)="copyMeetPassword()"></i></td>
                    <td width="40" *ngIf="meetPasswordCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    <td><b>Password: </b> {{hostingContent[3].password}}</td>
                 </tr>
              </td>
            </tr>

            <tr *ngIf="hostingContent[4].link != ''">
              <td width="55"><img src="../../../../assets/images/social-media/microsoft.png" alt="" width="40" height="40"></td>
              <td>
                 <tr>
                    <td width="40" *ngIf="!teamsLinkCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[4].link}}" (click)="copyTeamsLink()"></i></td>
                    <td width="40" *ngIf="teamsLinkCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    {{hostingContent[4].link}}
                 </tr>
                 <tr>
                    <td width="40" *ngIf="!teamsPasswordCopied"><i class="bi bi-clipboard copy-icon" cdkCopyToClipboard="{{hostingContent[4].password}}" (click)="copyTeamsPassword()"></i></td>
                    <td width="40" *ngIf="teamsPasswordCopied"><i class="bi bi-clipboard-check copy-icon"></i></td>
                    <td><b>Password: </b> {{hostingContent[4].password}}</td>
                 </tr>
              </td>
            </tr>

           </tbody>
         </table>
     </div>
  </div>
</div>

<div *ngIf="eventContent?.hosting=='1'" id="map" class="map-view">
    <google-map
        height="100%"
        width="100%"
        [options]="mapOptions"
    >
        <map-marker
            [position]="mapMarker.position"
        ></map-marker>
    </google-map>
</div>
