<section id="sponsors" class="ts-intro-sponsors" style="background-image: url('../../assets/images/sponsors/sponsor_img.jpg')">
    <div class="container">
       <div class="row">
          <div class="col-lg-12">
             <h2 class="section-title white">
                <span>Who helps us</span>
                Our Sponsors
             </h2><!-- section title end-->
          </div><!-- col end-->
       </div><!-- row end-->
       <div class="row">
          <div class="col-lg-12">
             <div *ngFor="let x of organizers" class="sponsors-logo text-center">                
                <a href=""><img src="http://events369.logitall.biz/storage/banner/{{x.logo}}" alt=""></a>
             </div>
             <div class="sponsors-logo text-center">
                <div class="sponsor-btn text-center">
                   <a href="index.html#" class="btn">Become a Sponsor</a>
                </div>
             </div><!-- sponsors logo end-->
          </div><!-- col end-->
       </div><!-- row end-->
    </div><!-- container end-->
 </section>