<div class="help-banner">
    <p class="help-banner-text" style="display: block;font-size: 40px;font-weight: 700;color: #fff;text-align: center;padding-top: 6vh;">
      
      <img src="/assets/images/icons/question.png" class="card-img-top only-mobile question-image" alt="..."> 
       How can we help you?
       <span class="help-banner-text-minor" style="font-size: 18px; font-weight: 600; color: #ccc;display: block;">We help event attendees better engage and connect at events with the power of online experiences.</span>
        <form class="form" class="search-form" style="position: absolute; top: 35%; left: 30%;width: 40%;">
          <div class="form-group has-search">
            <span style="position: absolute; top: 25%; left: 4%;" class="bi bi-search form-control-feedback help-searchbar-icon"></span>
            <input style="height: 10vh;font-size: 20px;padding-inline-start: 10%;" class="help-search-bar form-control mr-sm-2" type="search" placeholder="Find help articles..." aria-label="Search">
          </div>
        </form>
    
</div>
 
<div class="container">
    <div class="row mt-5 ev-padr-0">
      <div class="col-12">
        <p style="font-size: 25px;font-weight: 600;">Event Topics</p>

        <div class="row gx-5">
          <div class="col">
              <div class="card bg-light">
                <img src="/assets/images/icons/video-camera.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hosting an event</h5>
                    <p class="card-text">Learn how to create, edit and publish an event.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div> 
          </div>

          <div class="col">
            <div class="card bg-light">
              <img src="/assets/images/icons/ticket.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Going to an event</h5>
                    <p class="card-text">Learn how to find, RSVP and join an event.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
            </div> 
          </div>

          <div class="col">
            <div class="card bg-light">
              <img src="/assets/images/icons/loudspeaker.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Marketing an event</h5>
                    <p class="card-text">Learn how to promote, engage attendees and monetize an event.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
            </div> 
          </div>
        </div>
        <!-- <div class="card mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div> -->
      </div>

      <div class="col-12">
        
      <br><br><br>
        <p style="font-size: 25px;font-weight: 600;">Account Topics</p>

        <div class="row gx-5">
          <div class="col">
              <div class="card bg-light">
                <img src="/assets/images/icons/user.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Account Settings</h5>
                    <p class="card-text">Adjust settings, manage notifications, learn about event changes and more.</p>
                    <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                  </div>
                </div> 
          </div>

          <div class="col">
            <div class="card bg-light">
              <img src="/assets/images/icons/password.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Login & Password</h5>
                    <p class="card-text">Fix login issues and learn how to change or reset your password.</p>
                  </div>
            </div> 
          </div>

          <div class="col">
            <div class="card bg-light">
              <img src="/assets/images/icons/privacy.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Privacy & Security</h5>
                    <p class="card-text">Control who can see what you do and add extra protection to your account.</p>
                  </div>
            </div> 
          </div>
        </div>
        <!-- <div class="card mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>

        <div class="card text-center">
          <div class="card-header">
            Featured
          </div>
          <div class="card-body">
            <h5 class="card-title">Special title treatment</h5>
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted">
            2 days ago
          </div>
        </div> -->
      </div>

      <div class="col-12">
        
        <br><br><br>
          <p style="font-size: 25px;font-weight: 600;">Other Topics</p>
          <table class="table">
            
            <tbody>
              <tr>
                <td>Setup an online event</td>
                <td>Organization& team management</td>
                <td>Events369 fees</td>
              </tr>
              <tr>
                <td>Use Events369 for fully virtual event</td>
                <td>Use Events369 for hybrid events</td>
                <td>Use Events369 for physical events</td>
              </tr>
              <tr>
                <td>Set a refund policy</td>
                <td>Find your tickets</td>
                <td>Contact the event organizer</td>
              </tr>
              <tr>
                <td>Request a refund</td>
                <td>Report an organizer</td>
                <td>Cancel an RSVP</td>
              </tr>
            </tbody>
          </table>
      </div>  
    </div>
    
    <br><br><br><br>
    <div class="d-flex justify-content-center" style="height: max-content;">
      <span class="fs-4 m-2">Couldn't find what you want? </span> <a href="/login" style="color: var(--ev-brandname-orange);" class="fs-4 m-2">Contact us.</a>
    </div>
</div>
    

