<nav class="navbar navbar-expand-lg navbar-light bg-light ev-navbar sticky-top">
    <a id="brand-name" class="navbar-brand mr-5" routerLink="/"><b class="ev-brandname-orange"> events</b> <b class="ev-brandname-white">369</b></a>
    
    <!-- <form class="form" class="search-form">
      <div class="form-group has-search" style="margin-bottom: 0rem !important;">
        <span class="bi bi-search form-control-feedback"></span>
        <input class="form-control mr-sm-2 ev-nav-searchbar-input" type="search" placeholder="What do you want to attend?" aria-label="Search">
      </div>
     </form> -->
  
     
  
     <!-- <button type="button" class="btn btn-light"> -->
      <!-- <span (click)="showSearchBar()" id="searchIcon" class="bi bi-search form-control-feedback navbar-standalone-search-icon nav-link"></span>  -->
     <!-- </button> -->
  
    <button id="toggle-button" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <!-- <span style="color: #fff !important;" class="navbar-toggler-icon"></span> -->
      <i class="bi bi-three-dots-vertical ev-menu-icon"></i>
    </button>
  
    <!-- <form class="form search-form-for-sm search-on-mobile-only">
      <div class="form-group has-search" style="margin-bottom: 0rem !important;">
        <span class="bi bi-search form-control-feedback"></span>
        <input class="form-control mr-sm-2 ev-nav-searchbar-input" type="search" placeholder="What do you want to attend?" aria-label="Search">
      </div>
     </form> -->
     <!-- <span class="cancel-btn search-on-mobile-only" (click)="hideMobileSearch()">Cancel</span> -->
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav mr-auto ml-5 ev-navbar-dropdown-content ev-nav-list">
        <li class="nav-item">
          <a routerLink="/user_events" class="nav-link ev-nav-help" style="font-weight: 600 !important;">
            Manage Events 
            <!-- <i class="bi bi-chevron-down ev-nav-help-icon"></i> -->
        </a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" style="color: var(--blue);" routerLink="/create_event/basic_info">Host an event <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Log in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Sign up</a>
        </li> -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" style="color: var(--primary-color) !important;" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Help
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li> -->
      </ul>
    </div>
  
  </nav>
  