<div class="text-center mb-5 mt-4">
    <h2 class="display-6 text-light">{{primaryText}}</h2>
    <p class="lead">{{secondaryText}}</p>
  </div>
  
  <div class="row align-items-center mt-5">
    <div class="col-lg-12 mx-auto">
      <div class="row text-center">
        <div class="col-4 offset-2"><i class="bi-slack"></i></div>
        <div class="col-4"><i class="bi-facebook"></i></div>
      </div>
      <div class="row text-center">
        <div class="col-4 offset-2"><i class="bi-linkedin"></i></div>
        <div class="col-4"><i class="bi-instagram"></i></div>
      </div>
    </div>
  </div>
  