<div class="container-fluid h-100">
  <div class="row align-items-center h-100">
    <div class="offset-lg-3 col-lg-6 mx-auto">

      <div class="card">
        <div class="card-body">

          <div class="row">
            <div class="col-lg-6 stuffs-side">
              
              <!-- comopnent -->

              <app-form-side-pane 
                [primaryText]="'Can not remember your password?'"
                [secondaryText]="' We can help you reset you password after we verify you.'">
              </app-form-side-pane>
              
            </div>

            <div class="col-lg-6 form-side">
              
              <!-- component -->

              <app-form-header [formTitle]="'Password recovery'"></app-form-header>

              <!-- lofin form -->
              <form *ngIf="!showPrompt" [formGroup]="recoveryForm" (ngSubmit)="onSubmit()">
                                   
                <div class="row">
                  <div class="col">
                    <p class="text-center"><small class="text-danger">{{errorMsgs.message}}</small></p>
                  </div>
                </div>
                  
                <div class="row">
                  <div class="col">
                    <div class="form-floating mt-3">
                      <input type="email" class="form-control" id="floatingFname" placeholder="Fname" formControlName="email" required>
                      <label for="floatingFname">Email</label>
                    </div>
                    <small><span *ngFor="let x of errorMsgs?.errors?.email" class="text-danger">{{x}}</span></small>
                  </div>
                </div>

                <div class="row mt-5">
                  <div class="col">
                    <button class="float-right btn btn-lg git-color">
                      <span *ngIf="isSending" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                      Submit
                    </button>
                  </div>
                </div>

              </form>
              <!-- /.login form -->

              <!-- validation prompt -->

              <div *ngIf="showPrompt" class="row align-items-center">
                  <div class="col">
                      <div class="card my-5">
                          <div class="card-header text-center">
                              <p class="p-3">Please confirm your email</p>
                          </div>
                      </div>
                  </div>
              </div>

              <!-- component -->

              <app-form-footer></app-form-footer>
              
            </div>

          </div>

        </div>
      </div>

    </div>
  </div>
</div>