<div class="gallery-div">
    <div class="container">
       <div class="row gallery-section">
          <div class="col-lg-8 mx-auto">
             <h2 class="section-title text-center">
                <span>Take a look at the</span>
                Gallery
             </h2>
          </div>
       </div>

       <div class="row">
            <div *ngFor="let image of images; index as i" class="col text-center">
                <a href="#" (click)="openModal($event, i)">
                    <img class="img-fluid gallery-1"  src="http://events369.logitall.biz/storage/event_images/{{image.url}}" alt="" width="200" height="160" (click)="openModal($event, i)">
                </a>
            </div>
       </div>
    </div>
</div>

