<div class="mt-5 pt-5 bg-white">
  <owl-carousel [options]="sliderOptions" [carouselClasses]="['owl-theme', 'row', 'sliding']">
    <div class="items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5 ev-padl-0">
            <div class="bg-white p-5 rounded-lg p-3">
              <h1 class="display-5">Events369</h1>
              <p class="lead">
                Biggest Event Platform
              </p>
              <hr class="my-4">
              <p>For organizing events.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12 ev-padl-0">
            <img class="rounded mx-auto d-block image mr-3 img-fluid" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fmarketing%20space%2Fbanner--202102-outdoor-v2.webp?alt=media&token=cd0f4476-54ca-453f-a858-dc51fd86cfc3" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div class="items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5 ev-padl-0">
            <div class="bg-white p-5 rounded-lg m-3">
              <h1 class="display-5">Online events.</h1>
              <p class="lead">
                Human Connections.
              </p>
              <hr class="my-4">
              <p>Made for you</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12 ev-padl-0">
            <img class="rounded mx-auto d-block image" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fmarketing%20space%2Fbanner--202102-birthday-v2.webp?alt=media&token=c066068c-2c2a-4ec5-a61d-c9b9aa2f7357" alt="">
          </div>
        </div>
      </div>
    </div>
  
    <div class="items">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-5 ev-padl-0">
            <div class="bg-white p-5 rounded-lg m-3">
              <h1 class="display-5">More stuffs</h1>
              <p class="lead">
                Plan with us
              </p>
              <hr class="my-4">
              <p>Something goes here.</p>
              <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </div>
          </div>
          <div class="col-lg-7 col-sm-12 ev-padl-0">
            <img class="rounded mx-auto d-block image" src="https://firebasestorage.googleapis.com/v0/b/semagh-987db.appspot.com/o/Work%2FEvents369%2Fcustomer%20App%2Fmarketing%20space%2Fbanner--202102-music-v2.webp?alt=media&token=a57a9f9f-e87c-41b6-ab2e-e8ccf14abde7" alt="">
          </div>
        </div>
      </div>
    </div>
  </owl-carousel>
</div>