<section>
  <div class="contents" [class.height]="showPrompt">

    <img id="image-bg" class="bg" src="../../../../assets/images/samantha-gades-fIHozNWfcvs-unsplash.webp"/>
  
    <div class="container-fluid h-100">
    <div class="row align-items-center h-100">
      <div class="col-lg-5 mx-auto my-auto form-card">
  
        <div class="card p-5" style="margin-top: 5%;margin-bottom: 5%;margin-left: 3%;margin-right: 3%;box-shadow: 0 15px 35px 0 rgba(60,66,87,.08),0 5px 15px 0 rgba(0,0,0,.12);">
          <div class="card-body" style="padding: 0;">
            <div class="row">
    
              <div class="col">
  

                <app-form-header 
                    [formTitle]="'Link Accounts'">
                </app-form-header>

                
                <div *ngIf="showPrompt" class="row align-items-center">
                  <div class="col">
                      <!-- <div class="card my-5"> -->
                          <div class="alert alert-primary text-center">
                              <p style="margin-bottom: 0rem !important;">Please check your email</p>
                          </div>
                      <!-- </div> -->
                  </div>
              </div>
              
                <div class="info-div">
                    <p class="p-3"><small style="margin-left: 0 !important;">This email address is already registered with an account on Events369. We'll send you a magic link to connect your accounts.</small></p>
                </div>
  
                <div class="row mt-4">
                    <div class="col mb-1">
                        <button type="submit" class="register-button float-right btn form-element git-color" (click)="sendMagicLink()">
                        <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Send magic link
                        </button>
                    </div>
                </div>

                <div class="separator my-3">
                  <!-- <span class="border rounded"> -->
                    OR
                  <!-- </span> -->
                </div>

                <p><small><b>Use email and password</b></small></p>

                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">                
    
                    <div class="row">
                      <div class="col">
                        <div class="form-floating mt-3">
                          <input type="text" class="form-control form-element" id="floatingInput" style="height: 48px;" formControlName="email" required>
                          <label for="floatingInput">Email</label>
                        </div>
                        <small><span *ngFor="let x of errorMsgs?.errors?.email" class="text-danger">{{x}}</span></small>
                      </div>
                    </div>
    
                    <div class="row">
                      <div class="col">
                        <div class="form-floating mt-3">
                          <input type="password" class="form-control form-element" id="floatingInput" style="height: 48px;" formControlName="password" required>
                          <label for="floatingInput">Password</label>
                        </div>
                        <small><span *ngFor="let x of errorMsgs?.errors?.password" class="text-danger">{{x}}</span></small>
                      </div>
                    </div>
    
                    <div class="row my-1">
                      <div class="col-lg-12">
                        <!-- <span class="float-left">
                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                            <label class="form-check-label" for="flexSwitchCheckDefault">Remember me</label>
                          </div>
                        </span> -->
                        <span class="float-right">
                          <a routerLink="/recovery_email" class="form-link"><small>Forgot your password?</small></a>
                        </span>
                      </div>
                    </div>
    
                    <div class="row mt-4">
                      <div class="col">
                        <button class="register-button float-right btn btn-primary form-element form-btn" (click)="login()">
                          <span *ngIf="isSending" class="spinner-border spinner-border-sm mr-2" role="status" aria-hidden="true"></span>
                          Log in
                        </button>
                      </div>
                    </div>                
    
                  </form>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

</div>
</section>