<app-create-event-navbar></app-create-event-navbar>
<div class="container-fluid">
  <div class="row">

    <div class="col-md-4 col-lg-4">
      <!-- <div class="page-info">
        <div class="title ev-margin-top-bottom">
          <h1 class="ev-font-size-xxlarge">Let's start you off easy!</h1>
          <h5>Steps 1 <span class="of">of</span> 5</h5>
        </div>

        <div class="image">
          <i class="bi-journal-text" style="font-size: 10em;"></i>
        </div>

        <div class="description">
          <div class="card">
            <div class="card-body">
              <h6 class="card-title"><i class="bi-lightbulb text-warning"></i> &nbsp; Did You Know ?</h6>
              <p class="card-text">A good event title and a properly scripted description is a major key in attracting people to not only pay attention to your event but to also attend.</p>
              <a href="#" class="card-link">Create as an organization.</a>
              <a href="#" class="card-link">Learn more</a>
            </div>
          </div>
        </div>

        <div class="navigation">
          <div class="nav-buttons">
            <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="create()">Save & Continue</button>
            <app-loading-button *ngIf="isLoading"></app-loading-button>
          </div>
        </div>
      </div> -->


      <app-create-event-side-menu [currentPage]="'basic_info'"></app-create-event-side-menu>
    </div>

    <div class="col-1 only-non-mobile"></div>

    <div class="col-md-7 col-lg-5 col-xs-12 col-sm-12">
      <app-side-menu-toggle [eventTitle]="'A Chat With Rashida Jones'" [eventDate]="'Sat, May 8, 2021 7:00 PM'" *ngIf="currentRoute === 'edit_basic_info'"></app-side-menu-toggle>
      <form class="form" [formGroup]="form" (ngSubmit)="create()">
        <div class="divider mb-1 mt-5"></div>
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Basic Info</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Name your event and why attendees should come. Add details that highlight what makes it unique.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- title -->
            <div class="form-group">
              <div class="form-floating mb-3">
                <input  type="text" class="form-control" id="floatingTitle" aria-describedby="titleHelp" placeholder="Event title"
                  formControlName="title" [ngClass]="{'is-invalid': saved && f.title.errors, 'is-valid': !f.title.errors}">
                <label for="floatingTitle">Event Title</label>
                <small *ngIf="saved && f.title.errors" id="titleHelp" class="form-text invalid-feedback">
                  Title is required.
                </small>
              </div>
            </div>
            <!-- /.title -->

            <!-- description -->
            <div class="form-group">
              <div class="form-floating">
                <textarea [(ngModel)] = "event.description" class="form-control" id="floatingDesc" style="height: 100px" aria-describedby="descHelp" placeholder="Event description" formControlName="description"></textarea>
                <label for="floatingDesc">Event Description</label>
              </div>
            </div>
            <!-- /.description-->

            <!-- event type and ticketing -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingType" aria-label="Floating label select example"
                      formControlName="ticketing" [ngClass]="{'is-invalid': saved && f.ticketing.errors, 'is-valid': !f.ticketing.errors}">
                      <option value="0">Paid</option>
                      <option value="1">Free</option>
                      <option value="2">Donations</option>
                    </select>
                    <label for="floatingType">Ticketing</label>
                  </div>
                  <small *ngIf="saved && f.ticketing.errors" id="titleHelp" class="form-text invalid-feedback">
                    Ticketing is required.
                  </small>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingType" aria-label="Floating label select example"
                      formControlName="type" [ngClass]="{'is-invalid': saved && f.type.errors, 'is-valid': !f.type.errors}">
                      <option value="1">Public</option>
                      <option value="2">Private</option>
                    </select>
                    <label for="floatingType">Event Type</label>
                  </div>
                  <small *ngIf="saved && f.type.errors" id="titleHelp" class="form-text invalid-feedback">
                    Event type is required.
                  </small>
                </div>
              </div>
            </div>
            <!-- /.end -->

            <!-- event categories -->
            <div class="form-group">
              <div class="row">
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                      formControlName="category_id" [ngClass]="{'is-invalid': saved && f.category_id.errors, 'is-valid': !f.category_id.errors}">
                      <option *ngFor="let x of categoriesData" value={{x.id}}>{{x.temp_name}}</option>
                      <!-- <option value="1">Business</option>
                      <option value="2">Conference</option>
                      <option value="3">Entertainment</option> -->
                    </select>
                    <label for="floatingSelect">Event Category</label>
                  </div>
                  <small *ngIf="saved && f.category_id.errors" id="titleHelp" class="form-text invalid-feedback">
                    Event category is required.
                  </small>
                </div>
                <div class="col">
                  <div class="form-floating">
                    <select class="form-select" id="floatingSelect" aria-label="Floating label select example"
                      formControlName="subcategory_id" [ngClass]="{'is-invalid': saved && f.subcategory_id.errors, 'is-valid': !f.subcategory_id.errors}">
                      <option *ngFor="let x of subCategoriesData" value={{x.id}}>{{x.name}}</option>
                    </select>
                    <label for="floatingSelect">Event sub-category</label>
                  </div>
                  <small *ngIf="saved && f.subcategory_id.errors" id="titleHelp" class="form-text invalid-feedback">
                    Event sub-category type is required.
                  </small>
                </div>
              </div>
            </div>
            <!-- /.end -->

            <!-- tags -->
            <div class="form-group">
              <div class="form-floating mb-3">
                <input type="text" class="form-control" id="floatingTags" aria-describedby="titleHelp" placeholder="Add keywords to help people easily find your event" formControlName="tags">
                <label for="floatingTags">Tags</label>
              </div>
            </div>
            <!-- /.tags -->

            <!-- selected tags -->
            <!-- <div class="form-group tags-view">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm btn-outline-secondary pr-2">#business</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="bi-trash"></i>
                  </button>
                </div>
              </div>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm btn-outline-secondary pr-2">#conference</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="bi-trash"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="form-group tags-view">
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm btn-outline-secondary pr-2">#money</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="bi-trash"></i>
                  </button>
                </div>
              </div>
              <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="First group">
                  <button type="button" class="btn btn-sm btn-outline-secondary pr-2">#strategies</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">
                    <i class="bi-trash"></i>
                  </button>
                </div>
              </div>
            </div> -->
            <!-- /.selected tags -->
          </div>
        </div>

        <div class="divider"></div>

        <!--
          Date Time Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Date and time</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Tell your attendees when your event starts and ends so they can adjust their calendar to attend.</p>
            </div>
          </div>

          <div class="form-body">
            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation" (click)="setRecurring('0')">
                <a class="nav-link active" id="pills-onetime-tab" data-toggle="pill" href="#pills-onetime" role="tab" aria-controls="pills-onetime" aria-selected="true">One-time Event</a>
              </li>
              <li class="nav-item" role="presentation" (click)="setRecurring('1')">
                <a class="nav-link" id="pills-recurring-tab" data-toggle="pill" href="#pills-recurring" role="tab" aria-controls="pills-recurring" aria-selected="false">Recurring Event</a>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <!-- one time event -->
              <div class="tab-pane fade show active" id="pills-onetime" role="tabpanel" aria-labelledby="pills-onetime-tab">
                <!-- start & end date -->
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <div class="form-floating">
                        <div class="form-floating mb-3 input-group">
                          <input [(ngModel)]="event.start_date" type="text" class="form-control" id="floatingStartDate" aria-describedby="titleHelp" placeholder="Start date"
                            formControlName="start_date" ngbDatepicker #sd="ngbDatepicker" (click)="sd.toggle()"
                            [ngClass]="{'is-invalid': saved && f.start_date.errors, 'is-valid': !f.start_date.errors}">
                          <!-- <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="sd.toggle()" type="button"></button>
                          </div> -->
                          <label for="floatingStartDate">Start Date</label>
                          <small *ngIf="saved && f.start_date.errors" id="titleHelp" class="form-text invalid-feedback">
                            Start date type is required.
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating">
                        <div class="form-floating mb-3 input-group">
                          <input type="text" class="form-control" id="floatingEndDate" aria-describedby="titleHelp" placeholder="End date"
                            formControlName="end_date" ngbDatepicker #ed="ngbDatepicker" (click)="ed.toggle()"
                            [ngClass]="{'is-invalid': saved && f.end_date.errors, 'is-valid': !f.end_date.errors}">
                          <!-- <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="ed.toggle()" type="button"></button>
                          </div> -->
                          <label for="floatingEndDate">End Date</label>
                          <small *ngIf="saved && f.end_date.errors" id="titleHelp" class="form-text invalid-feedback">
                            End date type is required.
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.end -->

                <!-- start & end time -->
                <div class="form-group">
                  <div class="row">
                    <div class="col">
                      <div class="form-floating">
                        <div class="form-floating mb-3">
                          <ngb-timepicker [seconds]="true" id="floatingStartTime" aria-describedby="titleHelp" formControlName="start_time"
                            [ngClass]="{'is-invalid': saved && f.start_time.errors, 'is-valid': !f.start_time.errors}"></ngb-timepicker>
                          <label style="top: -3.5vh;" for="floatingStartTime">Start Time</label>
                          <small *ngIf="saved && f.start_time.errors" id="titleHelp" class="form-text invalid-feedback">
                            Start time type is required.
                          </small>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                      <div class="form-floating">
                        <div class="form-floating mb-3 input-group">
                          <ngb-timepicker [seconds]="true" id="floatingEndTime" aria-describedby="titleHelp" formControlName="end_time"
                            [ngClass]="{'is-invalid': saved && f.end_time.errors, 'is-valid': !f.end_time.errors}"></ngb-timepicker>
                          <label style="top: -3.5vh;" for="floatingEndTime">End Time</label>
                          <small *ngIf="saved && f.end_time.errors" id="titleHelp" class="form-text invalid-feedback">
                            End time type is required.
                          </small>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- /.end -->                
              </div>

              <!-- recurring event -->
              <div class="tab-pane fade" id="pills-recurring" role="tabpanel" aria-labelledby="pills-recurring-tab">
                <p class="lead mb-3">
                  If your event repeats or occurs more than once, you can schedule additional times and dates in the next step.
                </p>
                <p class="lead">
                  Event details and ticket types will automatically appear on all event occurrences and can't be customized for an individual occurrence.
                </p>
              </div>
              <!-- /.end recurring event -->
            </div>
          </div>
        </div>
        <!--
          /. End Date time Section
        -->

        <div class="divider"></div>

        <!--
          Location Section
        -->
        <div class="form-item">
          <div class="form-header">
            <div class="form-title">
              <h2>Venue</h2>
            </div>
            <div class="form-description">
              <p class="text-muted lead">Help people in the area discover your event and let attendees know where to show up.</p>
            </div>
          </div>

          <div class="form-body">
            <!-- start & end date -->
            <div class="form-group">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation" (click)="setHosting('0')">
                  <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">
                    Location
                  </a>
                </li>
                <li class="nav-item" role="presentation" (click)="setHosting('1')">
                  <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                    Online Event
                  </a>
                </li>                
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
                  <div class="form-check my-2 py-2">
                    <input class="form-check-input" type="checkbox" id="flexCheckDefault" formControlName="venue_tobe_announced">
                    <label class="form-check-label" for="flexCheckDefault">
                      Venue Yet to be announced
                    </label>
                  </div>

                  <div class="form-group">
                    <div class="form-floating">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingVenue" aria-describedby="titleHelp" placeholder="Venue" formControlName="venue">
                        <label for="floatingVenue">Venue</label>
                      </div>
                    </div>
                  </div>

                  <div class="form-group">
                    <div class="form-floating">
                      <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingGps" aria-describedby="titleHelp" placeholder="GPS cordinates" formControlName="gps">
                        <label for="floatingGps">GPS Cordinates</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                  <p class="lead">Online events requires a link to livestreams and more which is required during publishing.</p>
                </div>
              </div>
            </div>
            <!-- /.end -->
          </div>
        </div>
        <!--
          /. End Location Section
        -->
      </form>
      
      <div class="navigation" *ngIf="currentRoute === 'edit_basic_info'">
        <div class="nav-buttons">
          <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="create()">Save & Continue</button>
          <app-loading-button *ngIf="isLoading"></app-loading-button>
        </div>
        <!-- <span class="mt-2 text-danger" *ngIf="saveError">oops! something went wrong</span> -->
      </div>
      
      <div class="navigation only-mobile" *ngIf="currentRoute !== 'edit_basic_info'">
        <div class="nav-buttons">
          <button *ngIf="!isLoading" type="button" class="btn btn-lg btn-primary" (click)="create()">Save & Continue</button>
          <app-loading-button *ngIf="isLoading"></app-loading-button>
        </div>
      </div>
    </div>

    <div class="col-2  only-non-mobile"></div>

  </div>
</div>
