<app-navbar></app-navbar>

<div class="container mt-4">

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Name Prefix</label>
            <input type="text" class="form-control" id="cc-prefix" placeholder="" required>
            <div class="invalid-feedback">
                Name Prefix is required
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">First Name</label>
            <input type="text" class="form-control" id="cc-first-name" placeholder="" required>
            <div class="invalid-feedback">
                First Name is required
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Last Name</label>
            <input type="text" class="form-control" id="cc-last-name" placeholder="" required>
            <div class="invalid-feedback">
                Last Name is required
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Gender</label>
            <select type="text" class="form-control form-select" id="cc-first-name" placeholder="" required>
                <option selected></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
            <div class="invalid-feedback">
                First Name is required
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Email</label>
            <input type="text" class="form-control" id="cc-email" placeholder="" required>
            <div class="invalid-feedback">
                Email is required
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <label for="cc-name">Phone No.</label>
            <input type="text" class="form-control" id="cc-phone" placeholder="" required>
            <div class="invalid-feedback">
                Phone No. is required
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 mb-3">
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg float-right" type="submit">Submit</button>
        </div>
    </div>

</div>
