/* The sidebar menu */
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #fcfcfc; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 120px;
}

.sidenav .bottom {
  position: absolute;
  bottom: 90px;
  width: 100%;
}

.sidenav .bottom .list-group-item:last-child {
  border-right-style: none;
}

/* The navigation menu links */
.sidenav a {
  padding: 10px 3px 10px 30px;
  text-decoration: none;
  font-size: .8rem;
  color: var(--ev-menu-item);
  font-weight: 500;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #222;
  font-size: .8rem;
  background-color: #eee;
}

.bi {
  font-size: x-large;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.active {
  border-right: 2px solid rgb(34, 34, 34);
}

@media only screen and (max-width: 600px) {
  .sidenav {
    width: 60px;
    text-align: center;
  }

  .sidenav a:not(i) {
    padding: 5px 2px;
    text-decoration: none;
    font-size: 10px;
    color: var(--ev-menu-item);
    font-weight: 500;
    display: block;
  }

  .sidenav i {
    padding: 5px auto;
    text-decoration: none;
    font-size: 26px;
    color: var(--ev-menu-item);
    font-weight: 500;
    display: block;
  }

}

@media (max-width: 567px) {
  .hide-on-mobile {
    display: none;
  }
  .show-on-mobile {
    display: block;
  }
}

@media (min-width: 567px) {
  .hide-on-mobile {
    display: block;
  }
  .show-on-mobile {
    display: none !important;
  }
}