<app-navbar></app-navbar>

<div class="container mt-4">

    <div *ngIf="eventData?.event[0].ticketing == '1'" class="row gx-2">
        <div class="col">
            <div class="card price-card">
                <div class="card-body">
                    <span class="h4"><i class="bi bi-cash mr-2"></i>{{rsvpTicket?.currency}} {{rsvpTicket?.price}}</span>
                    <span class="text-muted mx-3">X</span>
                    <span class="h4"><i class="bi bi-people mr-2"></i>{{rsvpTicket?.quantity}} {{rsvpTicket?.quantity}}</span>
                    <h3 class="h3"><strong>{{rsvpTicket?.currency}} {{rsvpTicket?.price * rsvpTicket?.quantity}}</strong></h3>
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="eventData?.event[0].ticketing == '2'" class="row gx-2">
        <p class="lead text-muted">Kindly Donate any amount to support the event</p>
    </div>

    <div class="row">
        <div class="col-lg-8 mt-4">

            <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link active" id="pills-card-tab" data-toggle="pill" href="#pills-card" role="tab" aria-controls="pills-card" aria-selected="true">Credit / Debit Card</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link" id="pills-mobile-tab" data-toggle="pill" href="#pills-mobile" role="tab" aria-controls="pills-mobile" aria-selected="false">Mobile Money</a>
                </li>
            </ul>

            <div class="tab-content" id="pills-tabContent">

                <div class="tab-pane fade show active" id="pills-card" role="tabpanel" aria-labelledby="pills-card-tab">
                  <form [formGroup]="cardForm" (ngSubmit)="onCardSubmit()">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Email</label>
                        <input type="text" formControlName="customer_email" class="form-control" id="cc-email" placeholder="" required>
                        <div *ngIf="isCardSaved && f.customer_email.errors" class="text-danger">
                          Name on card is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" formControlName="card_holder" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div *ngIf="isCardSaved && f.card_holder.errors" class="text-danger">
                          Name on card is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-expiration">Card Type</label>
                        <select type="text" formControlName="r_switch" class="form-control form-select" id="cc-card-type" placeholder="" required>
                          <option selected></option>
                          <option value="VIS">Visa</option>
                          <option value="MAS">Master Card</option>
                        </select>
                        <div *ngIf="isCardSaved && f.r_switch.errors" class="text-danger">
                          Card Type is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" formControlName="pan" class="form-control" id="cc-number" placeholder="" required>
                        <div *ngIf="isCardSaved && f.pan.errors" class="text-danger">
                          Credit card number is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 mb-3">
                        <label for="cc-expiration" style="display: block;">Expiration</label>
                        <input type="text" formControlName="exp_month" class="form-control expiration-input" id="cc-expiration-month" placeholder="00" required maxlength="2" style="display: inline-block;"
                          [class.invalid]="isCardSaved && f.exp_month.errors">
                        <span class="h3 text-center mx-1">/</span>
                        <input type="text" formControlName="exp_year" class="form-control expiration-input" id="cc-expiration-year" placeholder="00" required maxlength="2" style="display: inline-block;">
                        <div *ngIf="isCardSaved && (f.exp_month.errors || f.exp_year.errors)" class="text-danger">
                          Expiration date required
                        </div>
                      </div>
                      <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="text" formControlName="cvv" class="form-control" id="cc-cvv" placeholder="000" required maxlength="3">
                        <div *ngIf="isCardSaved && f.cvv.errors" class="text-danger">
                          Security code required
                        </div>
                      </div>
                    </div>
                    <hr class="mb-4">
                    <button class="btn btn-primary btn-lg float-right" type="submit">Continue</button>
                  </form>
                </div>

                <div class="tab-pane fade" id="pills-mobile" role="tabpanel" aria-labelledby="pills-mobile-tab">
                  <form [formGroup]="mobileForm" (ngSubmit)="onMobileSubmit()">
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-expiration">Mobile Network</label>
                        <select type="text" formControlName="r_switch" class="form-control form-select" id="cc-network" placeholder="" required>
                          <option selected></option>
                          <option value="VDF">Vodafone</option>
                          <option value="MTN">MTN</option>
                          <option value="ATL">Airtel</option>
                          <option value="TGO">Tigo</option>
                        </select>
                        <div *ngIf="isMobileSaved && g.r_switch.errors" class="text-danger">
                          Mobile Network is required
                        </div>
                      </div>
                      <div class="col-md-6 mb-3">
                        <label for="cc-number">Phone No.</label>
                        <input type="text" formControlName="subscriber_number" class="form-control" id="cc-phone" placeholder="" required>
                        <div *ngIf="isMobileSaved && g.subscriber_number.errors" class="text-danger">
                          Phone No. number is required
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6 mb-3">
                        <label for="cc-name">Voucher Code</label>
                        <input type="text" formControlName="voucher_code" class="form-control" id="cc-code" placeholder="">
                        <div *ngIf="isMobileSaved && g.voucher_code.errors" class="text-danger">
                          Voucher Code is required
                        </div>
                      </div>
                    </div>
                    <hr class="mb-4">
                    <button routerLink="/rsvp/payment" class="btn btn-primary btn-lg float-right" type="submit">Continue</button>
                  </form>
                </div>

            </div>

        </div>
    </div>

</div>
