<app-navbar></app-navbar>

<div class="container mt-5">
<div class="row">

    <div *ngIf="errMsg" class="alert alert-danger alert-dismissible" role="alert">
        {{errMsg}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>

    <div class="col-12">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        
        <li class="nav-item" role="presentation">
            <a *ngIf="createdEvents" class="nav-link active" id="pills-drafts-tab" data-toggle="pill" href="#pills-drafts" role="tab" aria-controls="pills-drafts" aria-selected="false">Drafts
                <ng-container *ngIf="createdEvents.total">
                    ({{createdEvents.total}})
                </ng-container>
            </a>
            
        </li>
        <li class="nav-item" role="presentation">
            <a  *ngIf="publishedEvents" class="nav-link" id="pills-published-tab" data-toggle="pill" href="#pills-published" role="tab" aria-controls="pills-published" aria-selected="false">Published
                <ng-container *ngIf="publishedEvents.total">
                    ({{publishedEvents?.total}})
                    <!-- <span style="color: inherit;background-color: #fff;border-radius: 50%;">{{publishedEvents.length}})</span> -->
                </ng-container>
            </a>
            
        </li>
        <li class="nav-item" role="presentation">
            <a  *ngIf="cancelledEvents" class="nav-link" id="pills-cancelled-tab" data-toggle="pill" href="#pills-cancelled" role="tab" aria-controls="pills-cancelled" aria-selected="false">Cancelled
                <ng-container *ngIf="cancelledEvents.total">
                    ({{cancelledEvents?.total}})
                </ng-container>
            </a>
            
        </li>
        <li class="nav-item" role="presentation">
            <a  *ngIf="archivedEvents" class="nav-link" id="pills-archived-tab" data-toggle="pill" href="#pills-archived" role="tab" aria-controls="pills-drafts" aria-selected="false">Archived
                <ng-container *ngIf="archivedEvents.total">
                    ({{archivedEvents.total}})
                </ng-container>
            </a>
            
        </li>
        <li class="nav-item" role="presentation">
          <a  *ngIf="userEvents" class="nav-link" id="pills-all-tab" data-toggle="pill" href="#pills-all" role="tab" aria-controls="pills-all" aria-selected="true">All 
              <ng-container *ngIf="userEvents.total">
                  ({{userEvents.total}})
              </ng-container>
          </a>
      </li>
    </ul>

    
    <div class="tab-content pt-3" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-drafts" role="tabpanel" aria-labelledby="pills-drafts-tab">

        <div class="row" *ngIf="!createdEvents || createdEvents.length == 0">
            <div style="height: 50%;width: 100%;padding-bottom: 10%;">
              <p style="display: block;text-align: center;margin-left: 10%;margin-right: 10%;padding-top: 1%;">
                <i class="bi bi-journal-x" mode="ios" style="color: #a1949c;font-size: 60px;"></i>
                <span style="display: block;font-weight: 400;color: rgb(41, 39, 39);font-size: 20px;">Drafts empty</span>
                <p style="font-size: 14px;text-align: center;color: #888484;margin-left: 10%;margin-right: 10%;">
                  You have no created event yet

              </p>
            </div>

          </div>

        <div class="row">
            <div *ngFor="let event of createdEvents.data; let i = index" class="col-lg-4 mb-4">
                <div class="card" *ngIf="i < draft_loadIndex" (click)="showHideMoreDraft(event.id)">
                    <img *ngIf="event.banner_image" class="card-img-top" src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" height="250" class="card-img-top" alt="{{event.title}}">
                    <img *ngIf="!event.banner_image" class="card-img-top" src="/assets/images/placeholder-image.png" class="card-img-top" height="250" alt="{{event.title}}">
                    
                    <div class="card-body">                          
                        <div class="col">
                            <h4 class="card-title">{{event.title}}</h4>
                            
                            <span id="draft-dots-{{event.id}}" style="color: #fff;">...</span>
                            <span id="draft-more-{{event.id}}" style="display: none;">

                            <hr>
                            <p class="card-text" *ngIf="event.description">{{event.description}}</p>
                            <p>
                                <small class="text-muted">Date : {{getEventDateFormatted(event.start_date_time)}} to {{getEventDateFormatted(event.start_date_time)}}</small><br>
                                <small class="text-muted">Category : {{event.Category}}</small><br>
                            </p>
                            <hr>
                            <div class="text-center">
                                <button (click)="gotoEdit(event.id)" class="btn btn-secondary px-4 mb-1 mx-1"> Edit</button>
                                <button (click)="gotoPreview(event.id)" class="btn btn-primary px-4 mb-1 mx-1"> Preview</button>
                                <!-- <button (click)="cancelEvent(event.id)" class="btn btn-warning mb-1 px-4 mx-1"> Cancel</button> -->
                                <button (click)="archiveEvent(event.id)" class="btn btn-danger mb-1 px-4 mx-1"> Delete</button>
                            </div>

                            </span>

                            <span id="draft-myBtn-{{event.id}}" class="see-more-or-less">See More</span>
                            
                        </div>
                    </div>                       
                </div>
            </div>  
            
            
            <!-- <br><br><br> -->
            <div class="row">
                <div class="col-12">
                  <div class="d-flex flex-row justify-content-center p-1" *ngIf="createdEvents.prev_page_url || createdEvents.next_page_url">
                    <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
                      <!-- <button *ngIf="(draft_loadIndex >= createdEvents.length) && (createdEvents.length >= 6)" type="button" class="btn btn-outline-primary" (click)="loadLessDrafts()">
                        <i class="bi-arrow-up"></i>
                      </button> -->
                      <!-- <button *ngIf="draft_loadIndex < createdEvents.length" type="button" class="btn btn-outline-primary" (click)="loadMoreDrafts()">
                        <i class="bi-arrow-down"></i>
                      </button> -->
                      
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item" *ngIf="createdEvents.current_page !== 1">
                            <a class="page-link" (click)="openDraftedEventsNextPage(createdEvents.prev_page_url)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link">{{createdEvents.current_page}} of {{createdEvents.last_page}}</a></li>
                          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                          <li class="page-item" *ngIf="createdEvents.to < createdEvents.total">
                            <a class="page-link" (click)="openDraftedEventsNextPage(createdEvents.next_page_url)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    <!-- </div> -->
                  </div>
                </div>
                <br><br><br>
              </div>
            
            <!-- <br><br><br>
            <div class="d-flex justify-content-center">
                <button  *ngIf="draft_loadIndex < createdEvents.length" class="btn btn-dark btn-lg" (click)="loadMoreDrafts()" type="button">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Show more
                </button>

                <button  *ngIf="(draft_loadIndex >= createdEvents.length) && (createdEvents.length >= 6)" class="btn btn-dark btn-lg" (click)="loadLessDrafts()" type="button">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Show less
                </button>
            <br><br><br>
            </div> -->

        </div>
    </div>
    <div class="tab-pane fade" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
            <div class="row">  
                
                
            <div class="row" *ngIf="!userEvents?.data || userEvents?.data.length == 0">
                <div style="height: 50%;width: 100%;padding-bottom: 10%;">
                  <p style="display: block;text-align: center;margin-left: 10%;margin-right: 10%;padding-top: 1%;">
                    <i class="bi bi-camera-reels-fill" mode="ios" style="color: #a1949c;font-size: 60px;"></i>
                    <span style="display: block;font-weight: 400;color: rgb(41, 39, 39);font-size: 20px;">Host your first event!</span>
                    <p style="font-size: 14px;text-align: center;color: #888484;margin-left: 10%;margin-right: 10%;">
                      You have not hosted any event yet                      
  
                  </p>
                </div>
  
              </div>

                <div *ngFor="let event of userEvents?.data; let i = index" class="col-lg-4 mb-4">
                    <div class="card" *ngIf="i < loadIndex" (click)="showHideMore(event.id)">
                        <img *ngIf="event.banner_image" class="card-img-top" src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" height="250px" alt="{{event.title}}">
                        <img *ngIf="!event.banner_image" class="card-img-top" src="/assets/images/placeholder-image.png" height="250px" alt="{{event.title}}">
              
                        <!-- <img class="card-img-top" src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" height="250" alt="banner"> -->
                        <div class="card-body">                          
                            <div class="col">
                                <h4 class="card-title">{{event.title}}</h4>
                                <span id="dots-{{event.id}}" style="color: #fff;">...</span>
                                <span id="more-{{event.id}}" style="display: none;">

                                    <hr>
                                    <p class="card-text">{{event.description}}</p>
                                    <p>
                                        <!-- <small class="text-muted">Date : {{event.start_date_time | date:'mediumDate'}} to {{event.start_date_time | date:'mediumDate'}}</small><br> -->
                                        <small class="text-muted">Date : {{getEventDateFormatted(event.start_date_time)}} to {{getEventDateFormatted(event.end_date_time)}}</small><br>
                                        <!-- getEventStartDateFormatted(favorites.start_date_time) -->
                                        <small class="text-muted">Category : {{event.Category}}</small><br>
                                    </p>
                                    <hr>
                                    <div class="text-center">
                                        <button (click)="gotoPreview(event.id)" class="btn btn-primary px-4 mx-1">Preview</button>
                                        <!-- <button (click)="gotoEdit(event.id)" class="btn btn-secondary px-4 mx-1">Edit</button> -->
                                    </div>
                                    
                                </span>

                                <span id="myBtn-{{event.id}}" class="see-more-or-less">See More</span>
                                
                            </div>
                        </div>                       
                    </div>
                </div> 
                
                
                <!-- <br><br><br> -->
                <div class="row">
                    <div class="col-12">
                      <div class="d-flex flex-row justify-content-center p-1" *ngIf="userEvents.prev_page_url || userEvents.next_page_url">
                        <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
                          <!-- <button *ngIf="(loadIndex >= userEvents.length) && (userEvents.length >= 6)" type="button" class="btn btn-outline-primary" (click)="loadLess()">
                            <i class="bi-arrow-up"></i>
                          </button> -->
                          <!-- <button *ngIf="loadIndex < userEvents.length" type="button" class="btn btn-outline-primary" (click)="loadMore()">
                            <i class="bi-arrow-down"></i>
                          </button> -->
                          
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item" *ngIf="userEvents.current_page !== 1">
                                <a class="page-link" (click)="openAllEventsNextPage(userEvents.prev_page_url)" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link">{{userEvents.current_page}} of {{userEvents.last_page}}</a></li>
                              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                              <li class="page-item" *ngIf="userEvents.to < userEvents.total">
                                <a class="page-link" (click)="openAllEventsNextPage(userEvents.next_page_url)" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>

                        <!-- </div> -->
                      </div>
                    </div>
                    <br><br><br>
                  </div>
                <!-- <div class="d-flex justify-content-center">
                    <button  *ngIf="loadIndex < userEvents.length" class="btn btn-dark btn-lg" (click)="loadMore()" type="button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Show more
                    </button>

                    <button  *ngIf="(loadIndex >= userEvents.length) && (userEvents.length >= 6)" class="btn btn-dark btn-lg" (click)="loadLess()" type="button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Show less
                    </button>
                <br><br><br>
                </div> -->

            </div>
        </div>
        <div class="tab-pane fade" id="pills-published" role="tabpanel" aria-labelledby="pills-published-tab">

            
            <div class="row" *ngIf="!publishedEvents?.data || publishedEvents?.data?.length == 0">
                <div style="height: 50%;width: 100%;padding-bottom: 10%;">
                  <p style="display: block;text-align: center;margin-left: 10%;margin-right: 10%;padding-top: 1%;">
                    <i class="bi bi-check-circle-fill" mode="ios" style="color: #a1949c;font-size: 60px;"></i>
                    <span style="display: block;font-weight: 400;color: rgb(41, 39, 39);font-size: 20px;">Publish an event</span>
                    <p style="font-size: 14px;text-align: center;color: #888484;margin-left: 10%;margin-right: 10%;">
                      You have no published event yet
  
                  </p>
                </div>
  
              </div>

            <div class="row">
                <div *ngFor="let event of publishedEvents?.data; let i = index" class="col-lg-4 mb-4">
                    <div class="card" (click)="showHideMorePublished(event.id)" *ngIf="i < published_loadIndex" (click)="showHideMore(event.id)">
                        <img *ngIf="event.banner_image" class="card-img-top" src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" height="250" class="card-img-top" alt="{{event.title}}">
                        <img *ngIf="!event.banner_image" class="card-img-top" src="/assets/images/placeholder-image.png" class="card-img-top" height="250" alt="{{event.title}}">
                        
                        <div class="card-body">                          
                            <div class="col">
                                <h4 class="card-title">{{event.title}}</h4>
                                <span id="published-dots-{{event.id}}" style="color: #fff;">...</span>
                                <span id="published-more-{{event.id}}" style="display: none;">

                                <hr>
                                <p class="card-text">{{event.description}}</p>
                                <p>
                                    <small class="text-muted">Date : {{getEventDateFormatted(event.start_date_time)}} to {{getEventDateFormatted(event.start_date_time)}}</small><br>
                                    <small class="text-muted">Category : {{event.Category}}</small><br>
                                </p>
                                <hr>
                                <div class="float-left">
                                    <button (click)="gotoPreview(event.id)" class="btn btn-primary mb-1 px-4 mx-1">Preview</button>
                                    <button (click)="gotoEdit(event.id)" class="btn btn-secondary mb-1 px-4 mx-1">Edit</button>
                                    <button (click)="cancelEvent(event.id)" class="btn btn-warning mb-1 px-4 mx-1">Cancel</button>
                                    <button (click)="archiveEvent(event.id)" class="btn btn-danger mb-1 px-4 mx-1">Delete</button>
                                </div>

                                </span>

                                <span id="published-myBtn-{{event.id}}" class="see-more-or-less">See More</span>
                                
                            </div>
                        </div>                       
                    </div>
                </div>  
                
                
                <!-- <br><br><br> -->
                <div class="row">
                    <div class="col-12">
                      <div class="d-flex flex-row justify-content-center p-1" *ngIf="publishedEvents?.prev_page_url || publishedEvents?.next_page_url">
                        <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
                          <!-- <button *ngIf="(published_loadIndex >= publishedEvents.length) && (publishedEvents.length >= 6)" type="button" class="btn btn-outline-primary" (click)="loadLessPublished()">
                            <i class="bi-arrow-up"></i>
                          </button> -->
                          
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item" *ngIf="publishedEvents.current_page !== 1">
                                <a class="page-link" (click)="openPublishedEventsNextPage(publishedEvents.prev_page_url)" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link">{{publishedEvents.current_page}} of {{publishedEvents.last_page}}</a></li>
                              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                              <li class="page-item" *ngIf="publishedEvents.to < publishedEvents.total">
                                <a class="page-link" (click)="openPublishedEventsNextPage(publishedEvents.next_page_url)" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        <!-- </div> -->
                      </div>
                    </div>
                    <br><br><br>
                  </div>
                <!-- <br><br><br>
                <div class="d-flex justify-content-center">
                    <button  *ngIf="published_loadIndex < publishedEvents.length" class="btn btn-dark btn-lg" (click)="loadMorePublished()" type="button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Show more
                    </button>

                    <button  *ngIf="(published_loadIndex >= publishedEvents.length) && (publishedEvents.length >= 6)" class="btn btn-dark btn-lg" (click)="loadLessPublished()" type="button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Show less
                    </button>
                <br><br><br>
                </div> -->


            </div>
        </div>
        
        <div class="tab-pane fade" id="pills-cancelled" role="tabpanel" aria-labelledby="pills-cancelled-tab">

          <div class="row" *ngIf="!cancelledEvents?.data || cancelledEvents?.data.length == 0">
              <div style="height: 50%;width: 100%;padding-bottom: 10%;">
                <p style="display: block;text-align: center;margin-left: 10%;margin-right: 10%;padding-top: 1%;">
                  <i class="bi bi-journal-x" mode="ios" style="color: #a1949c;font-size: 60px;"></i>
                  <span style="display: block;font-weight: 400;color: rgb(41, 39, 39);font-size: 20px;">Cancelled empty</span>
                  <p style="font-size: 14px;text-align: center;color: #888484;margin-left: 10%;margin-right: 10%;">
                    You have no cancelled event yet

                </p>
              </div>

            </div>

          <div class="row">
              <div *ngFor="let event of cancelledEvents?.data; let i = index" class="col-lg-4 mb-4">
                  <div class="card" *ngIf="i < cancelled_loadIndex" (click)="showHideMoreCancelled(event.id)">
                      <img *ngIf="event.banner_image" class="card-img-top" src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" height="250" class="card-img-top" alt="{{event.title}}">
                      <img *ngIf="!event.banner_image" class="card-img-top" src="/assets/images/placeholder-image.png" class="card-img-top" height="250" alt="{{event.title}}">
                      
                      <div class="card-body">                          
                          <div class="col">
                              <h4 class="card-title">{{event.title}}</h4>
                              
                              <span id="cancelled-dots-{{event.id}}" style="color: #fff;">...</span>
                              <span id="cancelled-more-{{event.id}}" style="display: none;">

                              <hr>
                              <p class="card-text">{{event.description}}</p>
                              <p>
                                  <small class="text-muted">Date : {{getEventDateFormatted(event.start_date_time)}} to {{getEventDateFormatted(event.start_date_time)}}</small><br>
                                  <small class="text-muted">Category : {{event.Category}}</small><br>
                              </p>
                              <hr>
                              <div class="text-center">
                                  <!-- <button (click)="gotoEdit(event.id)" class="btn btn-secondary px-4 mb-1 mx-1">Edit</button> -->
                                  <button (click)="gotoPreview(event.id)" class="btn btn-primary px-4 mb-1 mx-1">Preview</button>
                                  <!-- <button (click)="cancelEvent(event.id)" class="btn btn-warning mb-1 px-4 mx-1">Cancel</button> -->
                                  <button (click)="recoverEvent(event.id)" class="btn btn-success mb-1 px-4 mx-1">Recover</button>
                                  <button (click)="archiveEvent(event.id)" class="btn btn-danger mb-1 px-4 mx-1">Delete</button>
                              </div>

                              </span>

                              <span id="cancelled-myBtn-{{event.id}}" class="see-more-or-less">See More</span>
                              
                          </div>
                      </div>                       
                  </div>
              </div>  
              
              
              <!-- <br><br><br> -->
              <div class="row">
                  <div class="col-12">
                    <div class="d-flex flex-row justify-content-center p-1" *ngIf="cancelledEvents.prev_page_url || cancelledEvents.next_page_url">
                      <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
                        <!-- <button *ngIf="(draft_loadIndex >= createdEvents.length) && (createdEvents.length >= 6)" type="button" class="btn btn-outline-primary" (click)="loadLessDrafts()">
                          <i class="bi-arrow-up"></i>
                        </button> -->
                        <!-- <button *ngIf="cancelled_loadIndex < cancelledEvents.length" type="button" class="btn btn-outline-primary" (click)="loadMoreCancelled()">
                          <i class="bi-arrow-down"></i>
                        </button> -->
                      <!-- </div> -->
                      
                      <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item" *ngIf="cancelledEvents.current_page !== 1">
                            <a class="page-link" (click)="openCancelledEventsNextPage(cancelledEvents.prev_page_url)" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                              <span class="sr-only">Previous</span>
                            </a>
                          </li>
                          <li class="page-item"><a class="page-link">{{cancelledEvents.current_page}} of {{cancelledEvents.last_page}}</a></li>
                          <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                          <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                          <li class="page-item" *ngIf="cancelledEvents.to < cancelledEvents.total">
                            <a class="page-link"  (click)="openCancelledEventsNextPage(cancelledEvents.next_page_url)" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                              <span class="sr-only">Next</span>
                            </a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                  <br><br><br>
                </div>
              
              <!-- <br><br><br>
              <div class="d-flex justify-content-center">
                  <button  *ngIf="draft_loadIndex < createdEvents.length" class="btn btn-dark btn-lg" (click)="loadMoreDrafts()" type="button">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Show more
                  </button>

                  <button  *ngIf="(draft_loadIndex >= createdEvents.length) && (createdEvents.length >= 6)" class="btn btn-dark btn-lg" (click)="loadLessDrafts()" type="button">
                      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Show less
                  </button>
              <br><br><br>
              </div> -->

          </div>
      </div>
        <div class="tab-pane fade" id="pills-archived" role="tabpanel" aria-labelledby="pills-archived-tab">
            
            <div class="row" *ngIf="!archivedEvents?.data || archivedEvents?.data.length == 0">
                <div style="height: 50%;width: 100%;padding-bottom: 10%;">
                  <p style="display: block;text-align: center;margin-left: 10%;margin-right: 10%;padding-top: 1%;">
                    <i class="bi bi-archive-fill" mode="ios" style="color: #a1949c;font-size: 60px;"></i>
                    <span style="display: block;font-weight: 400;color: rgb(41, 39, 39);font-size: 20px;">Archive empty</span>
                    <p style="font-size: 14px;text-align: center;color: #888484;margin-left: 10%;margin-right: 10%;">
                      You have no deleted event yet
  
                  </p>
                </div>
  
              </div>

            <div class="row">
                <div *ngFor="let event of archivedEvents?.data" class="col-lg-4 mb-4">
                    <div class="card"  (click)="showHideMoreArchived(event.id)">
                        <img *ngIf="event.banner_image" class="card-img-top" src="http://events369.logitall.biz/storage/banner/{{event.banner_image}}" height="250" class="card-img-top" alt="{{event.title}}">
                        <img *ngIf="!event.banner_image" class="card-img-top" src="/assets/images/placeholder-image.png" class="card-img-top" height="250" alt="{{event.title}}">
              
                        <div class="card-body">                          
                            <div class="col">
                                <h4 class="card-title">{{event.title}}</h4>

                                <span id="archived-dots-{{event.id}}" style="color: #fff;">...</span>
                                <span id="archived-more-{{event.id}}" style="display: none;">

                                <hr>
                                <p class="card-text">{{event.description}}</p>
                                <p>
                                    <small class="text-muted">Date : {{getEventDateFormatted(event.start_date_time)}} to {{getEventDateFormatted(event.start_date_time)}}</small><br>
                                    <small class="text-muted">Category : {{event.Category}}</small><br>
                                </p>
                                <hr>
                                <div class="text-center">
                                    <button (click)="gotoPreview(event.id)" class="btn btn-primary mb-1 px-4 mx-1">Preview</button>
                                    <button (click)="recoverEvent(event.id)" class="btn btn-success mb-1 px-4 mx-1">Recover</button>
                                </div>

                                </span>

                                <span id="archived-myBtn-{{event.id}}" class="see-more-or-less">See More</span>
                                
                            </div>
                        </div>                       
                    </div>
                </div>  
                
                
                
                <!-- <br><br><br> -->
                <div class="row">
                    <div class="col-12">
                      <div class="d-flex flex-row justify-content-center p-1" *ngIf="(archivedEvents.prev_page_url) || (archivedEvents.next_page_url)">
                        <!-- <div class="btn-group" role="group" aria-label="Basic example"> -->
                          <!-- <button *ngIf="(archived_loadIndex >= archivedEvents.length) && (archivedEvents.length >= 6)" type="button" class="btn btn-outline-primary" (click)="loadLessArchived()">
                            <i class="bi-arrow-up"></i>
                          </button> -->
                          <!-- <button *ngIf="archived_loadIndex < archivedEvents.length" type="button" class="btn btn-outline-primary" (click)="loadMoreArchived()">
                            <i class="bi-arrow-down"></i>
                          </button> -->
                          
                          <nav aria-label="Page navigation example">
                            <ul class="pagination">
                              <li class="page-item" *ngIf="archivedEvents.current_page !== 1">
                                <a class="page-link" (click)="openArchivedEventsNextPage(archivedEvents.prev_page_url)" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                  <span class="sr-only">Previous</span>
                                </a>
                              </li>
                              <li class="page-item"><a class="page-link">{{archivedEvents.current_page}} of {{archivedEvents.last_page}}</a></li>
                              <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li> -->
                              <li class="page-item" *ngIf="archivedEvents.to < archivedEvents.total">
                                <a class="page-link" (click)="openArchivedEventsNextPage(archivedEvents.next_page_url)" aria-label="Next">
                                  <span aria-hidden="true">&raquo;</span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </li>
                            </ul>
                          </nav>
                        <!-- </div> -->
                      </div>
                    </div>
                    <br><br><br>
                  </div>
                <!-- <br><br><br>
                <div class="d-flex justify-content-center">
                    <button  *ngIf="archived_loadIndex < archivedEvents.length" class="btn btn-dark btn-lg" (click)="loadMoreArchived()" type="button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Show more
                    </button>

                    <button  *ngIf="(archived_loadIndex >= archivedEvents.length) && (archivedEvents.length >= 6)" class="btn btn-dark btn-lg" (click)="loadLessArchived()" type="button">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Show less
                    </button>
                <br><br><br>
                </div> -->

            </div>
        </div>
    </div>

    
    </div>
    
<!-- <br><br><br>
<div class="d-flex justify-content-center">
  <button  *ngIf="loadIndex < userEvents.length" class="btn btn-dark btn-lg" (click)="loadMore()" type="button">
      <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      Load more
    </button>

    <a href="/" *ngIf="loadIndex >= userEvents.length" class="btn btn-dark btn-lg">Show all events</a>
</div> -->
</div>
</div>
<app-footer></app-footer>
