<div class="container mt-5">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">All</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">For You</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Corporate Events</a>
        </li>
      </ul>
      <div class="tab-content pt-3" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <!-- Upcoming Events -->
          <div class="container ev-padlr-0">
            <div class="row mb-4">
              <div class="col-12 ev-padlr-0">
                <h3 class="display-6 ev-head-padl ev-display-only-mobile">
                  <i class="bi-alarm"></i> &nbsp; Upcoming
                  
                    <!--Controls-->
                  <div style="float: right;" class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
                  </div>
                  <!--/.Controls-->
                </h3>
                <h3 class="display-6 ev-head-padl ev-display-only-non-mobile">
                  <i class="bi-alarm"></i> &nbsp; Starting in 6 Hours 
                  
                    <!--Controls-->
                  <!-- <div style="float: right;" class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
                  </div> -->
                  <!--/.Controls-->
                </h3>
              </div>
            </div>
 
            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97 (Reviews)
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-row justify-content-end p-1">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.Upcoming end -->

          <!-- Popular Events -->
          <div class="container ev-martop-5 ev-padlr-0">
            <div class="row mb-4">
              <div class="col-12  ev-padlr-0">
                <h3 class="display-6 ev-head-padl">
                  <i class="bi-graph-up"></i> &nbsp; Popular
                  
                    <!--Controls-->
                  <!-- <div style="float: right;" class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
                  </div> -->
                  <!--/.Controls-->
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97 (Reviews)
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-row justify-content-end p-1">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.Popular end -->

          <!-- New Events -->
          <div class="container ev-martop-5 ev-padlr-0">
            <div class="row mb-4">
              <div class="col-12  ev-padlr-0">
                <h3 class="display-6 ev-head-padl">
                  <i class="bi-megaphone"></i> &nbsp; New
                  
                    <!--Controls-->
                  <!-- <div style="float: right;" class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="bi bi-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="bi bi-chevron-right"></i></a>
                  </div> -->
                  <!--/.Controls-->
                </h3>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-4 col-lg-4">
                <div class="card mb-3">
                  <div class="row g-0">
                    <div class="col-md-4">
                      <img src="..." alt="...">
                    </div>
                    <div class="col-md-8">
                      <div class="card-body">
                        <h5 class="card-title">5th Annual Virtual Workspace 2021</h5>
                        <p class="card-text">
                          <span class="title">In 4 Days - East Legon Road</span>
                          <br>
                          <span class="bold">6:00AM to 6:00PM</span>
                          <br>
                          <span class="lead">
                            $200 Per Person &nbsp; &nbsp; - &nbsp; &nbsp; <i class="bi-star-fill text-warning"></i> 4.97 (Reviews)
                          </span>
                        </p>
                        <p class="card-text">
                          <button class="btn btn-outline-primary mr-2"><i class="bi-heart"></i></button>
                          <button class="btn btn-outline-primary"><i class="bi-share"></i></button>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <div class="d-flex flex-row justify-content-end p-1">
                  <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-arrow-left"></i>
                    </button>
                    <button type="button" class="btn btn-outline-primary">
                      <i class="bi-arrow-right"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.New events end -->
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">...</div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
      </div>
    </div>
  </div>
</div>
