<section>
  <div class="contents" style="padding-top: 10vh;">

    <img id="image-bg" class="bg" src="../../../../assets/images/samantha-gades-fIHozNWfcvs-unsplash.webp"/>

    <div class="container-fluid h-100">
      <div class="row align-items-center h-100">
        <div class="col-lg-5 mx-auto my-auto form-card">

          <div class="card p-5" style="margin-top: 20%;margin-bottom: 20%;margin-left: 3%;margin-right: 3%;box-shadow: 0 15px 35px 0 rgba(60,66,87,.08),0 5px 15px 0 rgba(0,0,0,.12);">
            <div class="card-body">
              <div class="row mb-3">
              
                <div class="col">
                  
                  <!-- component -->

                  <app-form-header 
                    [formTitle]="'2 Way Authentication'">
                  </app-form-header>

                  <!-- lofin form -->
                  <form [formGroup]="authenticationForm" (ngSubmit)="onSubmit()">
                    
                    <div class="row">
                      <div class="col">
                        <p *ngIf="errorMsgs?.message" class="text-center"><small class="text-danger">{{errorMsgs?.message}}</small></p>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col">
                        <div class="mt-3">
                          <label class="form-label" for="floatingFname" style="margin-bottom: 0;font-size: 0.8rem;margin-left: 5px !important;">Conifirmation Code</label>
                          <input type="email" class="form-control form-element" id="floatingFname" placeholder="0000" formControlName="confirmationCode" style="height: 42px;" required>
                        </div>
                        <small><span *ngFor="let x of errorMsgs?.errors?.phone" class="text-danger">{{x}}</span></small>
                      </div>
                    </div>                                        
                    
                    <div class="row mt-4">
                      <div class="col">
                        <button type="submit" class="float-right register-button btn btn-primary form-element form-btn">
                          <span *ngIf="isSending" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                          Submit
                        </button>
                      </div>
                    </div>
      
                  </form>
                  <!-- /.authentication form -->
                </div>

              </div>

              <p class="text-center">Didn't receive code? <a href="#" (click)="resend($event)">Resend code</a></p>

            </div>
          </div>

        </div>
      </div>
    </div>

  </div>
</section>