<!-- <div class="banner-item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(&quot;../../../../../../assets/images/default-event-banner.jpg&quot;);"> -->
<div class="banner-item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(&quot;http://events369.logitall.biz/storage/banner/{{eventContent?.banner_image}}&quot;);">

   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <div class="banner-content-wrap" *ngIf="eventContent?.start_date_time">
               <p class="banner-info wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="500ms">
                  <!-- {{eventContent?.start_date_time | date:'mediumDate'}} to {{eventContent?.end_date_time | date:'mediumDate'}}, {{eventContent?.venue}} -->

               <ng-container *ngIf="getEventDateWithoutTime(eventContent?.start_date_time) == getEventDateWithoutTime(eventContent?.end_date_time)">
               {{getEventStartDateFormatted(eventContent?.start_date_time)}} <b> to </b> {{getEventEndDateFormatted(eventContent?.end_date_time)}}
               </ng-container>
               <ng-container *ngIf="!(getEventDateWithoutTime(eventContent?.start_date_time) == getEventDateWithoutTime(eventContent?.end_date_time))">
               {{getEventStartDateFormatted(eventContent?.start_date_time)}}<i><b> to </b></i>{{getEventStartDateFormatted(eventContent?.end_date_time)}}

               </ng-container>
               </p>
               <h1 class="banner-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="700ms">{{eventContent?.title}}</h1>

               <div class="countdown wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                  <div class="counter-item">
                     <i class="icon icon-ring-1Asset-1"></i>
                     <span class="days">{{daysToDday}}</span>
                     <div class="smalltext">Days</div>
                  </div>
                  <div class="counter-item">
                     <i class="icon icon-ring-4Asset-3"></i>
                     <span class="hours">{{hoursToDday}}</span>
                     <div class="smalltext">Hours</div>
                  </div>
                  <div class="counter-item">
                     <i class="icon icon-ring-3Asset-2"></i>
                     <span class="minutes">{{minutesToDday}}</span>
                     <div class="smalltext">Minutes</div>
                  </div>
                  <div class="counter-item">
                     <i class="icon icon-ring-4Asset-3"></i>
                     <span class="seconds">{{secondsToDday}}</span>
                     <div class="smalltext">Seconds</div>
                  </div>
               </div>

               <div class="banner-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                  <a routerLink="/rsvp/user" href="index.html#" class="btn btn-primary">Register</a>
               </div>

            </div>
            <div class="banner-content-wrap" *ngIf="!eventContent?.start_date_time">
               <div class="d-flex justify-content-center">
                  <!-- <div class="spinner-grow" role="status">  -->
                    <span class="spinner-grow spinner-grow-sm text-white ev-spinner" role="status" aria-hidden="true"></span>
                    <span class="spinner-grow spinner-grow-sm text-white ev-spinner" role="status" aria-hidden="true"></span>
                    <span class="spinner-grow spinner-grow-sm text-white ev-spinner" role="status" aria-hidden="true"></span>
                  
                  <!-- </div> -->
                </div>
            </div>
         </div>
      </div>
   </div>
</div>

















































































































<!-- code for displaying a modal instead of redirecting to a new page  -->

<div class="container demo">
	
	
	<!-- <div class="text-center">
		<button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal">
			Left Sidebar Modal
		</button>

		<button type="button" class="btn btn-demo" data-toggle="modal" data-target="#myModal2">
			Right Sidebar Modal
		</button>
	</div> -->

	<!-- Modal -->
	<div class="modal left fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel">Left Sidebar</h4>
				</div>

				<div class="modal-body">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</p>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
	
	<!-- Modal -->
	<div class="modal right fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2">
		<div class="modal-dialog" role="document">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<h4 class="modal-title" id="myModalLabel2">Right Sidebar</h4>
				</div>

				<div class="modal-body">
					<p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
					</p>
				</div>

			</div><!-- modal-content -->
		</div><!-- modal-dialog -->
	</div><!-- modal -->
	
	
</div><!-- container -->

