<div class="banner-item" style="background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(&quot;../../../../../../assets/images/default-event-banner.jpg&quot;);">
   <div class="container">
      <div class="row">
         <div class="col-lg-8">
            <div class="banner-content-wrap">
               <p class="banner-info">5 to 7 June 2019, Waterfront Hotel, London</p>
               <h1 class="banner-title">digital thinkers Meet up</h1>

               <div class="countdown wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                  <div class="counter-item">
                     <i class="icon icon-ring-1Asset-1"></i>
                     <span class="days">00</span>
                     <div class="smalltext">Days</div>

                  </div>
                  <div class="counter-item">
                     <i class="icon icon-ring-4Asset-3"></i>
                     <span class="hours">00</span>
                     <div class="smalltext">Hours</div>
                  </div>
                  <div class="counter-item">
                     <i class="icon icon-ring-3Asset-2"></i>
                     <span class="minutes">00</span>
                     <div class="smalltext">Minutes</div>
                  </div>
                  <div class="counter-item">
                     <i class="icon icon-ring-4Asset-3"></i>
                     <span class="seconds">00</span>
                     <div class="smalltext">Seconds</div>
                  </div>
               </div>

               <div class="banner-btn wow fadeInUp" data-wow-duration="1.5s" data-wow-delay="800ms">
                  <a href="index.html#" class="btn btn-primary">Buy Ticket</a>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>