@import url('../../../../assets/event-details/css/xsIcon.css');

.banner-item {
    top: -100px;
    padding-top: 100px;
    min-height: 850px;
    color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    -webkit-backface-visibility: hidden;
    position: relative;
}
.banner-item:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: '';
}

.banner-content-wrap {
    padding: 25px 0 182px;
    z-index: 1;
    position: relative;
}
.banner-content-wrap .banner-info {
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    margin-bottom: 10px;
    color: #fff;
}
.banner-content-wrap .banner-title {
    font-size: 64px;
    font-weight: 800;
    color: #fff;
    text-transform: uppercase;
    line-height: 74px;
    margin-bottom: 50px;
}
.banner-content-wrap .banner-btn .btn {
    height: 55px;
    line-height: 55px;
    padding: 0 55px;
    font-weight: 700;
    text-transform: uppercase;
}
.banner-content-wrap .banner-btn .btn.fill {
    padding: 0 25px;
}

.countdown {
    margin-bottom: 60px;
}
.countdown .counter-item {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-right: 18px;
    padding: 35px 0;
    position: relative;
}
.countdown .counter-item i {
    font-size: 105px;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.countdown .counter-item:last-of-type {
    margin-right: 0;
}
.countdown .counter-item span {
    font-size: 24px;
    display: block;
    line-height: 18px;
    letter-spacing: .96px;
    font-weight: 700;
}
.countdown .counter-item .smalltext {
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
}
.countdown .counter-item:nth-of-type(1) i {
    color: #00a3ee;
}
.countdown .counter-item:nth-of-type(2) i {
    color: #ffcf4a;
    top: 2px;
    -webkit-transform: rotate(-148deg);
    -ms-transform: rotate(-148deg);
    transform: rotate(-148deg);
}
.countdown .counter-item:nth-of-type(3) i {
    color: #00c1c1;
}
.countdown .counter-item:nth-of-type(4) i {
    color: #ff6386;
}
.ts-count-down {
    padding: 0;
    margin: -80px 0;
    z-index: 1;
}
.ts-count-down .countdown {
    margin-bottom: 0;
}
.ts-count-down .countdown:before {
    z-index: -1;
    opacity: 1;
}
.ts-count-down .countdown .counter-item {
    width: 25%;
    float: left;
    margin-right: 0;
    border: none;
    position: relative;
    height: auto;
}
.ts-count-down .countdown .counter-item span {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
}
.ts-count-down .countdown .counter-item b {
    position: absolute;
    right: 0;
    top: 50%;
    bottom: 0;
    margin: auto;
    font-size: 30px;
    -webkit-transform: translateY(-18%);
    -ms-transform: translateY(-18%);
    transform: translateY(-18%);
}








































































































/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
.modal.left .modal-dialog,
.modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    width: 50vw;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
        -ms-transform: translate3d(0%, 0, 0);
         -o-transform: translate3d(0%, 0, 0);
            transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content,
.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.left .modal-body,
.modal.right .modal-body {
    padding: 15px 15px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
    left: 0vw;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
         -o-transition: opacity 0.3s linear, left 0.3s ease-out;
            transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.in .modal-dialog{
    left: 0;
}
    
/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
         -o-transition: opacity 0.3s linear, right 0.3s ease-out;
            transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
    border-radius: 0;
    border: none;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: #FAFAFA;
}

/* ----- v CAN BE DELETED v ----- */
body {
background-color: #78909C;
}

.demo {
padding-top: 60px;
padding-bottom: 110px;
}

.btn-demo {
margin: 15px;
padding: 10px 15px;
border-radius: 0;
font-size: 16px;
background-color: #FFFFFF;
}

.btn-demo:focus {
outline: 0;
}

.demo-footer {
position: fixed;
bottom: 0;
width: 100%;
padding: 15px;
background-color: #212121;
text-align: center;
}

.demo-footer > a {
text-decoration: none;
font-weight: bold;
font-size: 16px;
color: #fff;
}